<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>JJuice &middot; 404</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,400italic,700italic&amp;subset=latin,vietnamese">

        <!-- build:css css/bootstrap.css -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <!-- endbuild -->

        <!-- build:css css/plugins.css -->
        <link rel="stylesheet" href="{% static 'css/awe-icon.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/awemenu.css' %}">
        <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
        <link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
        <link rel="stylesheet" href="{% static 'css/nanoscroller.css' %}">
        <!-- endbuild -->

        <!-- build:css css/styles.css -->
        <link rel="stylesheet" href="{% static 'css/awe-background.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/docs.css' %}">
        <!-- endbuild -->

        <!-- build:js js/vendor.js -->
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
        <!-- endbuild -->

        <script>window.SHOW_LOADING = false;</script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        
    <div class="error-404 background background-color-dark background-image-main-404">
        <div class="fp-table">
            <div class="fp-table-cell center">

                <div class="container">
                    <div class="margin-bottom-40">
                        <h1><span class="page">page</span><span>404</span></h1>
					    <h2>{{ exception }}</h2>
                    </div>
                    <p>
                        <span>Please try one of the following pages</span>
                        <a href="/" class="btn btn-lg btn-primary margin-left-10">Home Page</a>
                    </p>
                </div><!-- /.container -->

            </div>
        </div>
    </div><!-- /.error-404 -->


        
    

    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
    <script>$.widget.bridge('uitooltip', $.ui.tooltip);</script>

    <!-- build:js js/plugins.js -->
    <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/plugins/awemenu.min.js' %}"></script>
    <script src="{% static 'js/plugins/headroom.min.js' %}"></script>

    <script src="{% static 'js/plugins/hideshowpassword.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.parallax-1.1.3.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.nanoscroller.min.js' %}"></script>

    <script src="{% static 'js/plugins/swiper.min.js' %}"></script>
    <script src="{% static 'js/plugins/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/plugins/easyzoom.js' %}"></script>

    <script src="{% static 'js/plugins/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/plugins/imagesloaded.pkgd.min.js' %}"></script>

    <script src="{% static 'js/plugins/gmaps.min.js' %}"></script>
    <!-- endbuild -->

    <!-- build:js js/main.js -->
    <script src="{% static 'js/awe/awe-carousel-branch.js' %}"></script>
    <script src="{% static 'js/awe/awe-carousel-blog.js' %}"></script>
    <script src="{% static 'js/awe/awe-carousel-products.js' %}"></script>
    <script src="{% static 'js/awe/awe-carousel-testimonial.js' %}"></script>

    <script src="{% static 'js/awe-hosoren.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- endbuild -->

    <!-- build:js js/docs.js -->
    <script src="{% static 'js/plugins/list.min.js' %}"></script>
    <script src="{% static 'js/docs.js' %}"></script>
    <!-- endbuild -->


    </body>
</html>
