{% extends "catalog.html" %}
{% load options %}
{% load catalog_filters %}
{% load static %}
{% load thumbnail %}
{% load flavor_grid_view %}
{% block site_main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">.
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="{% static 'js/lib/underscore/underscore.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/lib/backbone/backbone-min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/lib/x2js/xml2json.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>
<script type="text/javascript">
$(function(){
	$('a[title]').tooltip();
});
</script>
<div class="main-header background background-image-heading-checkout" style="background-image: url({{checkout_banner_url}});">
    <div class="container">
        <h1>Checkout</h1>
    </div>
</div>
<div id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
		    <li><a href="/">Home</a></li>
		    {% if back_url %}
	    	<li><a href="{{back_url}}">{{back_url_name}}</a></li>
		    {% endif %}
	    	<li class="active"><span>Checkout</span></li>
		</ol>
    </div>
</div>
<div class="checkout-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="board" style="height: 100%">
                <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
	                    <ul class="nav nav-tabs" id="myTab">
		                    <div class="liner"></div>
		                    <li class="active">
		                    	<a href="#shipping" data-toggle="tab" title="Shipping Information">
				                    <span class="round-tabs two">
				                        <i class="glyphicon glyphicon-user"></i>
				                    </span> 
					           </a>
		                	</li>
		                 	<li>
			                 	<a href="#billing" data-toggle="tab" title="Billing Information">
				                    <span class="round-tabs three">
				                          <i class="glyphicon glyphicon-credit-card"></i>
				                    </span> 
			                    </a>
		                     </li>
		                    <li><a href="#doner" data-toggle="tab" title="completed">
		                        <span class="round-tabs five">
		                              <i class="glyphicon glyphicon-ok"></i>
		                        </span> </a>
		                    </li>
	                    </ul>
                    </div>
                    <div class="tab-content">
                    	<div class="tab-pane fade in active" id="shipping">
                        </div>
	                    <div class="tab-pane fade" id="billing">
	                    </div>
	                    <div class="tab-pane fade" id="doner">
					  		<div class="text-center">
					    		<i class="img-intro icon-checkmark-circle"></i>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
            </div> <!-- col-md-7 end-->
            <div class="col-md-5">
                <div class="payment-right">
                    <!-- <h2>Your payment details</h2> -->
                    <div class="payment-detail-wrapper">
                        <ul class="cart-list">
                        	{% for item in cart_items %}
                            <li>
                                <div class="cart-item">
                                    <div class="product-image">
                                        <a href="{{ item.get_product_url }}&back={{ back_url }}" title="{{item.product.get_name}}">
                                            <img src="{{item.product.get_image_url}}" style="height:75px;width:75px;" alt="">
                                        </a>
                                    </div>

                                    <div class="product-body">
                                        <div class="product-name">
                                            <h3>
                                                <a href="#" title="{{item.product.get_name}}">{{item.product.get_name}}</a>
                                            </h3>
                                        </div>
                                    	<span>Qty:{{ item.quantity }}</span>
                                        <div class="product-price">
                                            <span>{{item.get_total|currency}}</span>

                                        </div>
                                    </div>
                                </div><!-- /.cart-item -->
								<form method="POST" action="{% url 'cart:show_cart' %}">
									{% csrf_token %}
									<input type="hidden" name="item_id" value="{{ item.id }}" />
									<input type="hidden" name="action" value="delete" />
									<button type="submit"  class="remove-cart btn btn-default no-border" value=""><i class="fa fa-trash-o fa-2x"></i></button>
								</form>
                            </li>
                            {% empty %}
                            <li><div class="cart-item">CART EMPTY</div></li>
                            {% endfor %}
                        </ul> <!-- /.cart-list -->
                    </div><!-- /.payment-detail-wrapper -->
                    <div class="cart-total">
                        <table>
                            <tbody>
                                <tr class="cart-subtotal">
                                    <th>Cart Subtotal:</th>
                                    <td><span class="amount">{{cart_total|currency}}</span></td>
                                </tr>
                                <tr class="shipping">
                                    <th>Shipping:</th>
                                    <td id = "shipping_total">-</td>
                                </tr>
                                <tr class="order-total">
                                    <th>Order Total:</th>
                                    <td id = "order_total" ><span class="amount">-</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.cart-total -->
                </div>
                <div class="row" id = "payment_box" >
                    <!-- You can make it whatever width you want. I'm making it full width
                         on <= small devices and 4/12 page width on >= medium devices -->
                    <div class="payment-right">
                        <!-- CREDIT CARD FORM STARTS HERE -->
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-heading display-table" >
                                <div class="row display-tr" >
                                    <h3 class="panel-title display-td" >Payment Details</h3>
                                    <div class="display-td" >                            
                                        <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                    </div>
                                </div>                    
                            </div>
                            <div class="panel-body">
                                <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="billing-cc-number">CARD NUMBER</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="tel"
                                                        class="form-control"
                                                        name="billing-cc-number"
                                                        placeholder="Valid Card Number"
                                                        autocomplete="cc-number"
                                                        required autofocus 
                                                    />
                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                </div>
                                            </div>                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 col-md-7">
                                            <div class="form-group">
                                                <label for="billing-cc-exp"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                                <input 
                                                    type="tel" 
                                                    class="form-control" 
                                                    name="billing-cc-exp"
                                                    placeholder="MM / YY"
                                                    autocomplete="cc-exp"
                                                    required 
                                                />
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label for="cardCVC">CV CODE</label>
                                                <input 
                                                    type="tel" 
                                                    class="form-control"
                                                    name="billing-cvv"
                                                    placeholder="CVC"
                                                    autocomplete="cc-csc"
                                                    required
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="couponCode">COUPON CODE</label>
                                                <input type="text" class="form-control" name="couponCode" />
                                            </div>
                                        </div>                        
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button id="make_payment" class="subscribe btn btn-success btn-lg btn-block" type="button">Make Payment - $0.00</button>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;">
                                        <div class="col-xs-12">
                                            <p class="payment-errors"></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>            
                        <!-- CREDIT CARD FORM ENDS HERE -->
                    </div>            
                </div>
            </div> <!-- payment details end -->
        </div>
    </div><!-- /.container -->
</div><!-- /.checkout-wrapper -->
{% endblock %}