{% extends "catalog.html" %}
{% load options %}
{% load catalog_filters %}
{% load static %}
{% load thumbnail %}
{% load flavor_grid_view %}
{% block headers %}
<noscript><meta http-equiv="refresh" content="0;url=https://agechecker.net/noscript"></noscript>
<script>
(function(w,d) {
  var config = {
        key: "{{ request.agechecker.key }}",
        name: "{{ request.agechecker.name }}",
        mode:"manual",
        debug:false,
        onclosed: function() {
            setCookie("ac_custom_verified", true);
        }
  };
    window.AgeCheckerConfig=config;
    if(config.path&&(window.location.pathname+window.location.search).indexOf(config.path)) return;
    var h=document.getElementsByTagName("head")[0];
    var a=document.createElement("script");
    a.src="https://api.agechecker.net/v1/static/index.js";
    a.crossOrigin="anonymous";
    a.onerror=function(a){
        window.location.href="https://agechecker.net/loaderror";
    };
    h.insertBefore(a,h.firstChild);
})(window, document);
</script>
{% endblock %}

{% block load_javascript %}
    require(['checkout']);
    $('a[title]').tooltip();
{% endblock %}

{% block site_main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
<style>
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.card-container.card {
    /*max-width: 350px;*/
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */

    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
</style>
<!--<div id="dob-popup" class="white-popup login-popup mfp-hide">-->
    <!--<div role="tabpanel">-->
        <!--<ul class="nav nav-tabs text-center" role="tablist">-->
            <!--<h3 >Date of Birth</h3>-->
        <!--</ul>&lt;!&ndash; /.nav &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="tab-content">-->
        <!--<form action="{% url 'checkout:checkout' %}" method="GET" id="dob-popup-form">-->
            <!--<div class="form-group">-->
                <!--<label for="dob">Account</label>-->
                <!--<input required type="date" name="dob" class="form-control" id="dob">-->
            <!--</div>&lt;!&ndash; /.form-group &ndash;&gt;-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

<div class="main-header background background-image-heading-checkout" style="background-image: url({{checkout_banner_url}});">
    <div class="container">
        <h1>Checkout</h1>
    </div>
</div>
<div id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
		    <li><a href="/">Home</a></li>
		    {% if back_url %}
	    	<li><a href="{{back_url}}">{{back_url_name}}</a></li>
		    {% endif %}
	    	<li class="active"><span>Checkout</span></li>
		</ol>
    </div>
</div>
<div class="checkout-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-7" id = "left_side">
            </div> <!-- col-md-7 end-->
            <div class="col-md-5" id="right_side">
                <div class="payment-right">
                    <!-- <h2>Your payment details</h2> -->
                    <div class="payment-detail-wrapper">
                        <ul class="cart-list">
                            {% if request.CART_DATA.checkout_cart_items  %}
                        	{% for item in request.CART_DATA.checkout_cart_items %}
                            <li>
                                <div class="cart-item">
                                    <div class="product-image">
                                        <a href="{{ item.get_product_url }}&back={{ back_url }}" title="{{item.product.get_name}}">
                                            <img src="{{item.product.get_image_url}}" class="product-list-image" alt="">
                                        </a>
                                    </div>

                                    <div class="product-body">
                                        <div class="product-name">
                                            <h3>
                                                <a href="#" title="{{item.product.get_name}}">{{item.product.get_name}}</a>
                                            </h3>
                                        </div>
                                    	<span>Qty:{{ item.quantity }}</span>
                                        <div class="product-price">
                                            <span>{{item.get_total |currency}}</span>

                                        </div>
                                    </div>
                                </div><!-- /.cart-item -->
								<form method="POST" action="{% url 'cart:show_cart' %}">
									{% csrf_token %}
									<input type="hidden" name="item_id" value="{{ item.id }}" />
									<input type="hidden" name="action" value="delete" />
									<button type="submit"  class="remove-cart btn btn-default no-border" value=""><i class="fa fa-trash-o fa-2x"></i></button>
								</form>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li><div class="cart-item">CART EMPTY</div></li>
                            {% endif %}

                        </ul> <!-- /.cart-list -->
                    </div><!-- /.payment-detail-wrapper -->
                    <div class="cart-total">
                        <table>
                            <tbody>
                                <tr class="cart-subtotal">
                                    <th>Cart Subtotal:</th>
                                    <td><span class="amount">{{request.CART_DATA.cart_total|currency}}</span></td>
                                </tr>
                                <tr class="cart-subtotal">
                                    <th>Discount(%)<i data-toggle="tooltip" data-original-title="3+1=4" class="fa fa-question-circle" aria-hidden="true"></i> :</th>
                                    <td><span class="amount">{{request.CART_DATA.discount_percentage}}</span></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Gross Total:</th>
                                    <td id = "gross_total" ><span class="amount">{{request.CART_DATA.net_total|currency}}</span></td>
                                </tr>
                                <tr class="shipping">
                                    <th>Shipping:</th>
                                    <td id = "shipping_total">-</td>
                                </tr>
                                <tr class="order-total">
                                    <th>Net Total:</th>
                                    <td id = "order_total" ><span class="amount">-</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.cart-total -->
                </div>
                <div class="row" id = "payment_box" style="display:none;" >
                    <!-- You can make it whatever width you want. I'm making it full width
                         on <= small devices and 4/12 page width on >= medium devices -->
                    <div class="payment-right">
                        <!-- CREDIT CARD FORM STARTS HERE -->
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-heading display-table" >
                                <div class="row display-tr" >
                                    <h3 class="panel-title display-td" >Payment Details</h3>
                                    <div class="display-td" >                            
                                        <img class="img-responsive pull-right" src="{% static 'img/accepted_c22e0.png' %}">
                                    </div>
                                </div>                    
                            </div>
                            <div class="panel-body">
                                <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="billing-cc-number">CARD NUMBER</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="tel"
                                                        class="form-control"
                                                        name="billing-cc-number"
                                                        placeholder="Valid Card Number"
                                                        autocomplete="cc-number"
                                                        required
                                                    />
                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                </div>
                                            </div>                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 col-md-7">
                                            <div class="form-group">
                                                <label for="billing-cc-exp"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE (MM/YY)</label>
                                                <input 
                                                    type="tel" 
                                                    class="form-control" 
                                                    name="billing-cc-exp"
                                                    placeholder="MM / YY"
                                                    autocomplete="cc-exp"
                                                    required 
                                                />
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label for="cardCVC">CV CODE</label>
                                                <input 
                                                    type="tel" 
                                                    class="form-control"
                                                    name="billing-cvv"
                                                    placeholder="CVC"
                                                    autocomplete="cc-csc"
                                                    required
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="couponCode">PROMOTION CODE</label>
                                                <input type="text" class="form-control" name="couponCode" />
                                            </div>
                                        </div>                        
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button id="make_payment" value="Send" class="subscribe btn btn-success btn-lg btn-block" type="button">Make Payment - $0.00</button>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;">
                                        <div class="col-xs-12">
                                            <p class="payment-errors"></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>            
                        <!-- CREDIT CARD FORM ENDS HERE -->
                    </div>            
                </div>
            </div> <!-- payment details end -->
        </div>
    </div><!-- /.container -->
</div><!-- /.checkout-wrapper -->
{% endblock %}