{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load catalog_filters %}
{% load instagram_client %}
{% load cache_image_url %}
{% block site_header %} 
<header id="header" class="awe-menubar-header">
	<nav class="awemenu-nav headroom" data-responsive-width="1200">
		<div class="container">
			<div class="awemenu-container">
				<div class="navbar-header">
					<ul class="navbar-icons"> <!-- Navigation Bar Icons -->
                        <li class="menubar-account">
                            <a href="#login-popup" title="" class="awemenu-icon">
                                <i class="icon icon-user-circle"></i>
                                <span class="awe-hidden-text">Account</span>
                            </a>
                            {% if request.user.is_authenticated %}
                            <ul class="submenu megamenu">
                                <li>
                                    <div class="container-fluid">
                                        <div class="header-account">
                                             <div class="header-account-avatar">
                                                <a href="#" title="Click to edit" data-toggle="tooltip" id = "upload-image-link">
                                                    {% if request.user.odoo_user.partner_id.image %}
                                                    <img src="data:image/jpg;base64,{{ odoo_user.partner_id.image }}" alt="" class="img-responsive img-circle" style="max-width:90px;max-height:90px;">
                                                    {% else %}
                                                    <img src="{% static 'img/image-placeholder.png' %}" alt="" class="img-responsive img-circle" style="width:90px;height:90px;">
                                                    {% endif %}
                                                </a>
                                                <input type="file" class="hidden" id="upload-image" />
                                            </div>
                                            <div class="header-account-username">
                                                <h4><a href="#">{{ odoo_user.partner_id.name }}</a></h4>
                                            </div>
                                            <ul>
                                                <li><a href="{% url 'auth:logout' %}?next=/">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul> <!-- submenu megamenu -->                            
                            {% else %}
                            <ul class="submenu dropdown">
                                <li>
                                    <a href="#login-popup" title="">Login</a>
                                </li>

                                <li>
                                    <a href="#registration-popup" title="">Register</a>
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                        {% block wishlist %}{% endblock %}
                        <li class="menubar-cart">
	 	                    <a href="#" title="" class="awemenu-icon menu-shopping-cart">
	                          <i class="icon icon-shopping-bag"></i>
	                          <span class="awe-hidden-text">Cart</span>
                              {% if cart_item_count and cart_item_count > 0 %}
                              <span class="cart-number">{{ cart_item_count }}</span>
                              {% endif %}
	                      	</a>
                   			<ul class="submenu megamenu">
                                {% if cart_item_count == 0 %}
                                <li>
                                    <div class="container-fluid">
                                        <span class="text-muted">Cart is empty</span>
                                    </div>
                                </li>
                                {% else %}
                                <li>
                                    <div class="container-fluid">
                                        <ul class="whishlist">
                                            {%  for item in cart_items %}
                                            <li>
                                                <div class="whishlist-item">
                                                    <div class="product-image">
                                                        <a href="{% url 'catalog:flavor' id=item.product.flavor_id.id %}?volume_id={{ item.product.vol_id.id }}" title="">
                                                            <img src="{{ item.product.get_image_url }}" alt="">
                                                        </a>
                                                    </div>

                                                    <div class="product-body">
                                                        <div class="whishlist-name">
                                                            <h3><a href="{% url 'catalog:flavor' id=item.product.flavor_id.id %}?volume_id={{ item.product.vol_id.id }}" title="">{{ item.product.get_name }}</a></h3>
                                                        </div>

                                                        <div class="whishlist-price">
                                                            <span>Price:</span>
                                                            <strong>{{ item.get_price }}</strong>
                                                        </div>

                                                        <div class="whishlist-quantity">
                                                            <span>Quantity:</span>
                                                            <span>{{ item.quantity }}</span>
                                                        </div>
                                                    </div>
                                                </div>

<!--                                                 <a href="#" title="" class="remove">
                                                    <i class="icon icon-remove"></i>
                                                </a> -->
                                            </li>                                                
                                            {% endfor %}
                                        </ul>
                                        <div class="menu-cart-total">
                                            <span>Total</span>
                                            <span class="price">{{ cart_total|currency }}</span>                                            
                                        </div>
                                        <div class="cart-action">
                                            <a href="{% url 'cart:show_cart' %}" title="" class="btn btn-lg btn-dark btn-outline btn-block">View cart</a>
                                            <a href="{% url 'checkout:checkout' %}" title="" class="btn btn-lg btn-primary btn-block">Proceed To Checkout</a>
                                        </div>
                                    </div>
                                </li>                                    
                                {% endif %}                                
                            </ul>
	                    </li>                        
					</ul> <!-- Navigation Bar Icons End -->
					
					<ul class="navbar-search"> <!-- Navigation Bar Search -->
	                    <li>
	                        <a href="#" title="" class="awemenu-icon awe-menubar-search" id="open-search-form">
	                            <span class="sr-only">Search</span>
	                            <span class="icon icon-search"></span>
	                        </a>
	
	                        <div class="menubar-search-form" id="menubar-search-form">
	                            <form action="{% url 'catalog:search'  %}?page=1" method="GET">
	                                <input type="text" name="search" required class="form-control" placeholder="Search here...">
	                                <div class="menubar-search-buttons">
	                                    <button type="submit" class="btn btn-sm btn-white">Search</button>
	                                    <button type="button" class="btn btn-sm btn-white" id="close-search-form">
	                                        <span class="icon icon-remove"></span>
	                                    </button>
	                                </div>
	                            </form>
	                        </div><!-- /.menubar-search-form -->
	                    </li>
					</ul>
				</div>
				<div class="awe-logo">
					<a href="/" title=""><img src="{% static 'img/logo.jpg' %}" alt=""></a>
				</div>
				<!-- /.awe-logo -->
				<div class="awemenu-bars"><span class="fa fa-bars"></span></div>
				<ul class="awemenu awemenu-right">
	                <li class="awemenu-item">
	                   <a href="/" title="HOME">
	                       <span>HOME</span>
	                   </a>
	                </li>
	                <li class="awemenu-item">
	                   <a href="#" title="SHOP">
	                       <span>SHOP</span>
	                   </a>
	                   <ul class="awemenu-submenu awemenu-megamenu" data-width="100%" data-animation="fadeup">
	                   		<li class="awemenu-megamenu-item">
	                   			<div class="container-fluid">
	                   				<div class="row">
	                                    {% for key,value in request.volumes_data.items %}
	                                    <div class="col-lg-2">
	                                        <div class="awe-media inline margin-bottom-25">
	                                            <div class="awe-media-image">
	                                                <a href="{% url 'catalog:volume' id=key view='form'  %}" title="{{ value.name }}">
	                                                    <!-- <img src="{% static 'img/samples/menu/horosen-shop.jpg' %}" alt=""> -->
	                                                	<img src="{{ value.image_url }}" alt="{% static 'img/samples/menu/horosen-shop.jpg' %}" />
	                                                </a>
	                                            </div>
	                                            <h4 class="awe-media-title medium upper center">
	                                                <a href="#" title="">{{ value.name }}</a>
	                                            </h4>
	                                        </div>
                                        </div>
                                        {% endfor %}
	                   				</div>
	                   			</div>
	                   		</li>
	                   </ul>
	                </li>
	                <li class="awemenu-item">
	                   <a href="{% url 'misc:aboutus' %}" title="ABOUT US">
	                       <span>ABOUT US</span>
	                   </a>
	                </li>	                
	                <li class="awemenu-item">
	                   <a href="{% url 'misc:contactus' %}" title="CONTACT US">
	                       <span>CONTACT US</span>
	                   </a>
	                </li>	                	                
				</ul>				
			</div>
		</div>
	</nav>
</header>
{% endblock %}

{% block site_footer %}
<footer class="footer" style="z-index:0">
	<div class="footer-wrapper">
		<div class="footer-widgets">
			<div class="container">
				<div class="row">
                	<!-- About Us Widget -->
                	<div class="col-md-3">
	                    <div class="row">
	                        <div class="col-md-12 col-sm-6">
	                            <div class="widget">
	                                <h3 class="widget-title">
	                                	<a href="{% url 'misc:aboutus' %}"><span>ABOUT US</span></a>
	                                </h3>
	                                <div class="widget-content">
	                                    <p>A community of people being rad… Our group has been working on formulating the perfect vape experience, primarily for ourselves, until we realized every vaper we knew loved our juice and only wanted to fill their vapes with the ‘good stuff’. This was our inspiration...</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
                	</div>
                	<div class="col-md-3">
                    	<div class="widget">
            	            <h3 class="widget-title">WE CAN HELP YOU?</h3>
                            <div class="widget-content">
                                <p><i class="icon icon-telephone" style="color:white;padding-right:10px;"></i>(801) 331-8919</p>
								<p><i class="glyphicon glyphicon-map-marker" style="color:white;padding-right:10px;"></i>12411 South 265 West Ste C</p>
								<p><i class="glyphicon" style="color:white;padding-right:25px;"></i>Draper Utah, 84020</p>
								<p><i class="glyphicon" style="color:white;padding-right:25px;"></i>USA</p>
                                <p><i class="glyphicon glyphicon-envelope" style="color:white;padding-right:10px;"></i>hello@vapejjuice.com</p>
                            </div>
                        </div><!-- /.widget -->                	
                	</div>
                	<!-- Shopping Widget -->
                	<div class="col-md-3">
                		<div class="widget">
                        	<h3 class="widget-title">Shopping</h3>
                            <ul>
                                <li><a href="/cart/" title="">My Cart</a></li>
                                <li><a href="#" title="">Your Orders</a></li>
                            </ul>
                        </div><!-- /.widget -->
                	</div>
                	<!-- Are You like me widget -->
                	<div class = "col-md-3">
						<div class="widget">
                	        <h3 class="widget-title">Are You Like Me</h3>
                            <ul class="list-socials">
                                <li><a href="https://twitter.com/vapejjuice" title=""><i class="icon icon-twitter"></i></a></li>
                                <li><a href="http://facebook.com/vapejjuice" title=""><i class="icon icon-facebook"></i></a></li>
                                <li><a href="http://instagram.com/vapejjuice" title=""><i class="fa fa-instagram"></i></a></li>
                                <li><a href="http://vapejjuice.tumblr.com/" title=""><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                        <div class="widget">
	                        <h3 class="widget-title">PAYMENT ACCEPT</h3>
                            <ul class="list-socials">
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-cc-paypal"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-cc-visa"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-cc-amex"></i>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.widget -->
                	</div>
				</div>  <!-- Footer First Row -->
                <div class = "row">
                    <div class = "col-md-offset-1 col-md-4">
                        <div class="widget" style="max-height:310px;overflow:scroll;" >
                            <h3 class="widget-title text-center">Latest Tweets</h3>
                            <a class="twitter-timeline" href="https://twitter.com/VapeJJuice">Tweets by VapeJJuice</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                    <div class = "col-md-5">
                       <div class="widget widget_tag_cloud">
                            <h3 class="widget-title text-center">Instagram</h3>
                                <!-- <span>{{ media.caption }}</span>  you can use this also -->
<!--                             <ul class="instagram-widget">
                                {% instagram_user_recent_media vapejjuice %}
                                {% for media in recent_media %}
                                <li>
                                    <a href="{{ media.display_src }}" class="insta-photo target="_blank" title="{{ media.caption }}">
                                        <img src="data:image/jpg;base64,{% cache_resize_image_url media.thumbnail_src 70 70 %}" />  
                                        
                                    </a>
                                </li>
                                {% endfor %}
                            </ul> -->
                        </div><!-- /.widget -->                        
                    </div>
                </div>
			</div> <!-- container ended -->
		</div> <!-- footer widget ended -->
        <div class="footer-copyright">
  	      <div class="container">
 	         <div class="copyright">
	             <p>Copyright &copy; 2017 JJuice - All Rights Reserved.</p>
             </div>
             <div class="footer-nav">
	             <nav>
	                 <ul>
	                     <li><a href="{% url 'misc:contactus' %}" title="">Contact Us</a></li>
	                     <li><a href="{% url 'misc:terms_conditions' %}" title="">Term of Use</a></li>
	                     <li><a href="{% url 'misc:privacy_policy' %}" title="">Privacy Policy</a></li>
                         <li><a href="{% url 'misc:shipping_returns_policy' %}" title="">Shipping & Returns Policy</a></li>
	                     <li><a href="#" title="">Site Map</a></li>
	                 </ul>
	             </nav>
                 <nav>
                     <ul>
                         <li class="dropdown dropup">
                             <div class="language-select">
                                 <span class="select-title">Language:</span>

                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     <span>ENG</span>
                                     <span class="icon icon-arrow-down"></span>
                                 </a>

                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="#">English</a></li>
                                 </ul>
                             </div>
                         </li>
                         <li class="dropdown dropup">
                             <div class="price-select">
                                 <span class="select-title">Price:</span>
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     <span>USD</span>
                                     <span class="icon icon-arrow-down"></span>
                                 </a>
                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="#">USD</a></li>
                                 </ul>
                             </div>
                         </li>
                     </ul>
                 </nav>
             </div>
         </div>
       </div><!-- /.footer-copyright -->
	</div> <!-- footer wrapper -->
	<a href="#" class="back-top" title="">
        <span class="back-top-image">
            <img src="{% static '/img/back-top.png' %}" alt="">
        </span>
        <small>Back to top</small>
    </a>
</footer>
<div id = "registration-popup" class="white-popup login-popup mfp-hide">
    <div role="tabpanel">
        <ul class="nav nav-tabs text-center" role="tablist">
                <h3 href="#account-login"  aria-controls="account-login" role="tab" data-toggle="tab">Signup</h3>
        </ul><!-- /.nav -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account-register">
                <form action="index.html" method="POST" >
                    <div class="form-group">
                        <label for="register-username">Username <sup>*</sup></label>
                        <input type="text" class="form-control" id="register-username">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-email">Email <sup>*</sup></label>
                        <input type="text" class="form-control" id="register-email">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-password">Password <sup>*</sup></label>
                        <input type="password" class="form-control" id="register-password">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-confirm-password">Confirm Password <sup>*</sup></label>
                        <input type="password" class="form-control" id="register-confirm-password">
                    </div><!-- /.form-group -->

                    <div class="form-button">
                        <button type="submit" class="btn btn-lg btn-warning btn-block">Register</button>
                    </div><!-- /.form-button -->
                    <div class="forgot-passwd">
                        <a href="#login-popup" title="">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            <span>Signin</span>
                        </a>                    
                    </div>
                </form>
            </div><!-- /.tab-pane -->        
        </div>
    </div>
</div>

{% if request.user.is_authenticated %}
<script>
    $(function(){
        var upload_image_link = $("a#upload-image-link");
        var upload_input = $("input#upload-image")
        var profile_image_allowed = ['image/jpeg','image/png','image/gif']
        upload_image_link.on("click",function(){
            upload_input.click();
        });    
        upload_input.on("change",function(){
            var inputFile = upload_input[0].files[0]
            var data = new FormData();
            if (inputFile == undefined){
                return
            }
            var size_mb = parseFloat((inputFile.size/1048576).toFixed(2)) //inputFile.size is in bytes
            if (size_mb > 1){
                $.notify("Sorry! Only 5 MB filesize allowed",'warning','error')
                return                  
            }

            if (profile_image_allowed.indexOf(inputFile.type) < 0 ){
                $.notify("Sorry! Only png / jpg / gif format allowed",'error')
                return
            }
            data.append('image', inputFile);
            data.append('csrfmiddlewaretoken',"{{csrf_token}}")
            $.ajax({
                type: "POST",
                url: "{% url 'odoo_auth:upload' %}",
                beforeSend:function(){
                    // Before Send
                },
                data: data, 
                cache: false,
                contentType: false,
                processData: false,                
                error:function(data){
                    console.log("error",data)
                },
                complete:function(){
                    // on complete
                },                
                success:function(data){
                    // on success
                    console.log("success",data)
                    console.log(upload_image_link.find('image'));
                    upload_image_link.find('img').attr('src','data:image/jpg;base64,'+data)
                },                
            })
        });
    });

</script>
{% else %}
<div id="login-popup" class="white-popup login-popup mfp-hide">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs text-center" role="tablist">
            <h3 >Account Login</h3>
        </ul><!-- /.nav -->

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account-login">
                <form action="{% url 'odoo_auth:login' %}" method="POST" id="login-popup-form">
<!--                     <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Whoop!</strong> <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>                        
                    </div> -->
                    <div class="alert alert-warning hidden" id="auth_failed">
                        <strong>Whoop!</strong> <span>Wrong username or password</span>                        
                    </div> 
                    {% csrf_token %}                                            
                    <div class="form-group">
                        <label for="login-account">Account</label>
                        <input required type="text" name="username" class="form-control" id="login-account">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" required name="password" class="form-control" id="login-password" data-show-password="true">
                    </div><!-- /.form-group -->

                    <div class="forgot-passwd">
                        <a href="#" title="">
                            <i class="icon icon-key"></i>
                            <span>Forgot your password?</span>
                        </a>
                    </div><!-- /.forgot-passwd -->
                    <div class="forgot-passwd">
                        <a href="#registration-popup" title="">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <span>New to JJuice? Signup</span>
                        </a>
                    </div><!-- /.forgot-passwd -->                    
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="form-button">
                        <button type="submit" class="btn btn-lg btn-primary btn-block has-spinner"><span class="spinner"><img src="{% static 'img/ajax-loader.gif' %}" width="10" height="10"></span>Login</button>
                    </div><!-- /.form-group -->
                </form>
            </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </div>
</div><!-- /.login-popup -->

<script>
    $(function() {
        $('a[href="#login-popup"],a[href="#registration-popup"]').magnificPopup({
            type:'inline',
            midClick: false,
            closeOnBgClick: false
        });
        $("form#login-popup-form").on('submit',function(){
            event.preventDefault();
            var form = this;
            $(form).find('div#auth_failed').addClass('hidden');
            var url = $(form).attr('action');
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(){
                    $(form).find("button[type='submit']").addClass('active')
                },
                data: $(form).serializeArray(),
                error:function(data){
                    console.log("error",data)
                },
                complete:function(){
                    $(form).find("button[type='submit']").removeClass('active')
                },                
                success:function(data){
                    if (data['auth'] == true){
                        $.notify("Login Successful",'success')
                        $(form).find('div#auth_failed').addClass('hidden');
                        location.reload();    
                    }else{
                        console.log($(form).find('div#auth_failed'))
                        $(form).find('div#auth_failed').removeClass('hidden')
                        $.notify("Login Failed")
                    }
                    
                },
            });
        });
    });
</script>
{% endif %}
{% endblock %}