{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load catalog_filters %}
{% load get_class_responsive %}
{% load instagram_client %}
{% load cache_image_url %}
{% block site_header %}
<header id="header" class="awe-menubar-header">
	<nav class="awemenu-nav headroom" data-responsive-width="1200">
		<div class="container">
			<div class="awemenu-container">
				<div class="navbar-header">
					<ul class="navbar-icons"> <!-- Navigation Bar Icons -->
                        <li class="menubar-account">
                            <a href="#login-popup" title="" class="awemenu-icon">
                                <i class="icon icon-user-circle"></i>
                                <span class="awe-hidden-text">Account</span>
                            </a>
                            {% if request.user.is_authenticated %}
                            <ul class="submenu megamenu">
                                <li>
                                    <div class="container-fluid">
                                        <div class="header-account">
                                             <div class="header-account-avatar">
                                                <a href="#" title="Click to edit" data-toggle="tooltip" id = "upload-image-link">
                                                    {% if request.user.odoo_user.partner_id.image %}
                                                    <img src="data:image/jpg;base64,{{ odoo_user.partner_id.image }}" alt="" class="img-responsive img-circle" style="max-width:90px;max-height:90px;">
                                                    {% else %}
                                                    <img src="{% static 'img/image-placeholder.png' %}" alt="" class="img-responsive img-circle" style="width:90px;height:90px;">
                                                    {% endif %}
                                                </a>
                                                <input type="file" class="hidden" id="upload-image" />
                                            </div>
                                            <div class="header-account-username">
                                                <h4><a href="#">{{ odoo_user.partner_id.name }}</a></h4>
                                            </div>
                                            <ul>
			                                	<li>
			                                		<a href="{% url 'checkout:order_history' %}" class="awe-button product-quick-view" data-toggle="tooltip" title="" data-original-title="Order History">
									                     Order History
							                        </a>
								                </li>                                                                                        
                                                <li><a href="{% url 'auth:logout' %}?next=/">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul> <!-- submenu megamenu -->                            
                            {% else %}
                            <ul class="submenu dropdown">
                                <li>
                                    <a href="#login-popup" title="">Login</a>
                                </li>

                                <li>
                                    <a href="#registration-popup" title="">Register</a>
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                        {% block wishlist %}{% endblock %}
                        <li class="menubar-cart">
	 	                    <a href="#" title="" class="awemenu-icon menu-shopping-cart">
	                          <i class="icon icon-shopping-bag"></i>
	                          <span class="awe-hidden-text">Cart</span>
                              {% if request.CART_DATA.cart_item_count and request.CART_DATA.cart_item_count > 0 %}
                              <span class="cart-number">{{ request.CART_DATA.cart_item_count }}</span>
                              {% endif %}
	                      	</a>
                   			<ul class="submenu megamenu">
                                {% if request.CART_DATA.cart_item_count == 0 %}
                                <li>
                                    <div class="container-fluid">
                                        <span class="text-muted">Cart is empty</span>
                                    </div>
                                </li>
                                {% else %}
                                <li>
                                    <div class="container-fluid">
                                        <div class="menu-cart-action">
                                            <a href="{% url 'cart:show_cart' %}" title="" class="btn btn-lg btn-dark btn-outline btn-block">View cart</a>
                                            {% if request.user.is_authenticated %}
                                                <a href="{% url 'checkout:checkout' %}" id = "proceed_to_checkout" title="Proceed to Checkout" class="btn btn-lg btn-primary btn-block">Proceed To Checkout</a>
                                            {% endif %}
                                        </div>
                                        <div class="menu-cart-total" style = "border-bottom:none;">
                                            <span>Gross Total</span>
                                            <span class="price">{{ request.CART_DATA.cart_total|currency }}</span>
                                        </div>
                                        <div class="menu-cart-total" style = "border-bottom:none;">
                                            <span >Discount (%) <i data-toggle="tooltip" data-original-title="3+1=4" class="fa fa-question-circle" aria-hidden="true"></i></span>
                                            <span class="price">{{ request.CART_DATA.discount_percentage}}</span>
                                        </div>
                                        <div class="menu-cart-total">
                                            <span data-toggle="tooltip" data-original-title="3+1=4" >Grand Total </span>
                                            <span class="price">{{ request.CART_DATA.net_total|currency }}</span>
                                        </div>
                                        <ul class="whishlist">
                                            {%  for key,value in request.CART_DATA.cart_items.items %}
                                            <li>
                                                <div class="whishlist-item">
                                                    <div class="product-image">
                                                        <a href="item." title="">
                                                            <img src="{{ value.image_url }}" alt="">
                                                        </a>
                                                    </div>

                                                    <div class="product-body">
                                                        <div class="whishlist-name">
                                                            <h3><a href="{{ value.flavor_url }}" title="">{{ value.name }}</a></h3>
                                                        </div>

                                                        <div class="whishlist-price">
                                                            <span>Price:</span>
                                                            <strong>{{ value.price }}</strong>
                                                        </div>
                                                        <div class="whishlist-quantity">
                                                            <span>Quantity:</span>
															{% if value.quantity > value.qty.virtual_available %}
																<span style="color:red"><strong>{{ value.quantity }}</strong></span>
															{% else %}
																<span >{{ value.quantity }}</span>
															{% endif %}
                                                        </div>
                                                        <div class="whishlist-quantity">
															{% if value.quantity > value.qty.virtual_available  %}
																<span style="color:red"><strong>OUT OF STOCK</strong></span>
															{% endif %}
														</div>
                                                    </div>
                                                </div>
<!--                                                 <a href="#" title="" class="remove">
                                                    <i class="icon icon-remove"></i>
                                                </a> -->
                                            </li>                                                
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>                                    
                                {% endif %}                                
                            </ul>
	                    </li>                        
					</ul> <!-- Navigation Bar Icons End -->
					
					<ul class="navbar-search"> <!-- Navigation Bar Search -->
	                    <li>
	                        <a href="#" title="" class="awemenu-icon awe-menubar-search" id="open-search-form">
	                            <span class="sr-only">Search</span>
	                            <span class="icon icon-search"></span>
	                        </a>
	
	                        <div class="menubar-search-form" id="menubar-search-form">
	                            <form action="{% url 'catalog:search'  %}?page=1" method="GET">
	                                <input type="text" name="search" required class="form-control" placeholder="Search here...">
	                                <div class="menubar-search-buttons">
	                                    <button type="submit" class="btn btn-sm btn-white">Search</button>
	                                    <button type="button" class="btn btn-sm btn-white" id="close-search-form">
	                                        <span class="icon icon-remove"></span>
	                                    </button>
	                                </div>
	                            </form>
	                        </div><!-- /.menubar-search-form -->
	                    </li>
					</ul>
				</div>
				<div class="awe-logo">
					<a href="/" title=""><img src="{% static 'img/logo.jpg' %}" alt=""></a>
				</div>
				<!-- /.awe-logo -->
				<div class="awemenu-bars"><span class="fa fa-bars"></span></div>
				<ul class="awemenu awemenu-right">
	                <li class="awemenu-item">
	                   <a href="/" title="HOME">
	                       <span>HOME</span>
	                   </a>
	                </li>
	                <li class="awemenu-item">
	                   <a href="#" title="SHOP">
	                       <span>SHOP</span>
	                   </a>
	                   <ul class="awemenu-submenu awemenu-megamenu" data-width="100%" data-animation="fadeup">
	                   		<li class="awemenu-megamenu-item">
	                   			<div class="container-fluid">
	                   				<div class="row">
										{% for key,value in request.volumes_data.items %}
	                                    <div class="col-lg-{% get_class_responsive request.volumes_data|length  %}">
	                                        <div class="awe-media inline margin-bottom-25">
	                                            <div class="awe-media-image">
	                                                <a href="{% url 'catalog:volume' id=key view='form'  %}" title="{{ value.name }}">
	                                                    <!-- <img src="{% static 'img/samples/menu/horosen-shop.jpg' %}" alt=""> -->
	                                                	<img src="{{ value.image_url }}" alt="{% static 'img/samples/menu/horosen-shop.jpg' %}" />
	                                                </a>
	                                            </div>
	                                            <h4 class="awe-media-title medium upper center">
	                                                <a href="#" title="">{{ value.name }}</a>
	                                            </h4>
	                                        </div>
                                        </div>
                                        {% endfor %}
	                   				</div>
	                   			</div>
	                   		</li>
	                   </ul>
	                </li>
	                <li class="awemenu-item">
	                   <a href="{% url 'misc:aboutus' %}" title="ABOUT US">
	                       <span>ABOUT US</span>
	                   </a>
	                </li>	                
	                <li class="awemenu-item">
	                   <a href="{% url 'misc:contactus' %}" title="CONTACT US">
	                       <span>CONTACT US</span>
	                   </a>
	                </li>	                	                
				</ul>				
			</div>
		</div>
	</nav>
</header>
{% endblock %}

{% block site_footer %}
<footer class="footer" style="z-index:0">
	<div class="footer-wrapper">
		<div class="footer-widgets">
			<div class="container">
				<div class="row">
                	<!-- About Us Widget -->
                	<div class="col-md-3">
						<div class="widget">
							<h3 class="widget-title">Subscribe Newsletter</h3>
							<div class="widget-content">
								<div class="subscrible-form">
									<form action="{% url 'misc:newsletter' %}" method="GET">
										{% csrf_token %}
										<div class="form-group-row">
											<div class="form-group">
												<label for="subscribe-email" class="sr-only">Email</label>
												<input type="email" name="email" id="subscribe-email" class="form-control" required placeholder="Enter your email address">
											</div>
											<div class="form-submit">
												<button type="submit" class="btn btn-lg btn-white btn-outline">Subscribe email</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div><!-- /.widget -->
                	</div>
                	<div class="col-md-3">
                    	<div class="widget">
            	            <h3 class="widget-title">WE CAN HELP YOU</h3>
                            <div class="widget-content">
                                <p><i class="icon icon-telephone" style="color:white;padding-right:10px;"></i>(801) 331-8919</p>
								<p><i class="glyphicon glyphicon-map-marker" style="color:white;padding-right:10px;"></i>12411 South 265 West Ste C</p>
								<p><i class="glyphicon" style="color:white;padding-right:25px;"></i>Draper Utah, 84020</p>
								<p><i class="glyphicon" style="color:white;padding-right:25px;"></i>USA</p>
                                <p><i class="glyphicon glyphicon-envelope" style="color:white;padding-right:10px;"></i>hello@vapejjuice.com</p>
                            </div>
                        </div><!-- /.widget -->                	
                	</div>
                	<!-- Shopping Widget -->
                	<div class="col-md-3">
                		<div class="widget">
                        	<h3 class="widget-title">Shopping</h3>
                            <ul>
                                <li><a href="/cart/" title=""><i class="icon icon-shopping-bag"></i> My Cart</a></li>
                                {% if request.user.is_authenticated %}
                                	<li>
                                		<a href="{% url 'checkout:order_history' %}" class="awe-button product-quick-view" data-toggle="tooltip" title="" data-original-title="Order History">
						                     <i class="fa fa-history"></i> Order History
				                        </a>
					                </li>
                                {% endif %}
                            </ul>
                        </div><!-- /.widget -->
                	</div>
                	<!-- Are You like me widget -->
                	<div class = "col-md-3">
						<div class="widget">
                	        <h3 class="widget-title">@vapejjuice</h3>
                            <ul class="list-socials">
                                <li><a href="https://twitter.com/vapejjuice" target="_blank" title=""><i class="icon icon-twitter"></i></a></li>
                                <li><a href="http://facebook.com/vapejjuice" target="_blank" title=""><i class="icon icon-facebook"></i></a></li>
                                <li><a href="http://instagram.com/vapejjuice" target="_blank" title=""><i class="fa fa-instagram"></i></a></li>
                                <li><a href="http://vapejjuice.tumblr.com/" target="_blank" title=""><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
						<div class = "widget">
							<h3 class="widget-title">Like us on Facebook</h3>
							<div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1726655707635079";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
							<!-- Your like button code -->
							<div class="fb-like" data-href="https://www.facebook.com/vapejjuice/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
						</div>
                        <div class="widget">
	                        <h3 class="widget-title">PAYMENT ACCEPTED</h3>
                            <ul class="list-socials">
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-cc-mastercard"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-cc-visa"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-cc-amex"></i>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.widget -->
                	</div>
				</div>  <!-- Footer First Row -->
                <div class = "row" style="padding-bottom:30px;">
                    <div class = "col-md-offset-3 col-md-6">
                       <div class="widget widget_tag_cloud">
                            <h3 class="widget-title text-center">Instagram</h3>
                                <!-- <span>{{ media.caption }}</span>  you can use this also -->
                             <ul class="instagram-widget">
                                {% instagram_user_recent_media vapeujuice %}
                                {% for media in recent_media|slice:":6" %}
                                <li>
                                    <a href="{{ media.display_src }}" class="insta-photo target="_blank" title="{{ media.caption }}">
                                        <img src="data:image/jpg;base64,{% cache_resize_image_url media.thumbnail_src 70 70 %}" />  
                                        
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div><!-- /.widget -->                        
                    </div>
                </div>
			</div> <!-- container ended -->
		</div> <!-- footer widget ended -->
        <div class="footer-copyright">
  	      <div class="container">
 	         <div class="copyright">
	             <p>Copyright &copy; 2017 JJuice - All Rights Reserved.</p>
             </div>
             <div class="footer-nav">
	             <nav>
	                 <ul>
	                     <li><a href="{% url 'misc:contactus' %}" title="">Contact Us</a></li>
	                     <li><a href="{% url 'misc:terms_conditions' %}" title="">Term of Use</a></li>
	                     <li><a href="{% url 'misc:privacy_policy' %}" title="">Privacy Policy</a></li>
                         <li><a href="{% url 'misc:shipping_returns_policy' %}" title="">Shipping & Returns Policy</a></li>
	                     <li><a href="#" title="">Site Map</a></li>
	                 </ul>
	             </nav>
                 <nav>
                     <ul>
                         <li class="dropdown dropup">
                             <div class="language-select">
                                 <span class="select-title">Language:</span>

                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     <span>ENG</span>
                                     <span class="icon icon-arrow-down"></span>
                                 </a>

                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="#">English</a></li>
                                 </ul>
                             </div>
                         </li>
                         <li class="dropdown dropup">
                             <div class="price-select">
                                 <span class="select-title">Price:</span>
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     <span>USD</span>
                                     <span class="icon icon-arrow-down"></span>
                                 </a>
                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="#">USD</a></li>
                                 </ul>
                             </div>
                         </li>
                     </ul>
                 </nav>
             </div>
         </div>
       </div><!-- /.footer-copyright -->
	</div> <!-- footer wrapper -->
	<a href="#" class="back-top" title="">
        <span class="back-top-image">
            <img src="{% static '/img/back-top.png' %}" alt="">
        </span>
        <small>Back to top</small>
    </a>
</footer>
<div id = "forgot-password-popup" class="white-popup mfp-hide">
    <div role="tabpanel">
        <ul class="nav text-center" role="tablist">
                <h3 href="#account-login"  aria-controls="account-login" role="tab" data-toggle="tab">Forgot Password</h3>
        </ul><!-- /.nav -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account-register">
            	<form action="{% url 'odoo_auth:forgot_password' %}" method="POST" id = "forgot_password_form" >
            		<div class = "row text-center">
	                    <div class="form-group col-md-offset-2 col-md-8">
	                        <label for="name">Email ID<sup>*</sup></label>
	                        <input style="text-align: center;" required placeholder= "Reset link will be sent on this email ID" type="email" class="form-control" id="email" name="email">
						</div><!-- /.form-group -->
						<div class="form-group col-md-offset-2 col-md-8">
							<button type="button" class="btn btn-primary">
								<a href="#login-popup" title="Signin">
									<i class="fa fa-sign-in padding" aria-hidden="true"></i>
									<span>Signin</span>
								</a>
							</button>
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-paper-plane padding" aria-hidden="true"></i>
								<span>Send Reset Email</span>
							</button>
						</div>
            		</div>
            	</form>
           	</div>
       	</div>
   	</div>
</div>
<div id = "registration-popup" class="white-popup mfp-hide" style="max-width:1000px!important;">
    <div role="tabpanel">
        <ul class="nav nav-tabs text-center" role="tablist">
                <h3 href="#account-login"  aria-controls="account-login" role="tab" data-toggle="tab">Signup</h3>
        </ul><!-- /.nav -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account-register">
                <form action="index.html" method="POST" id = "registration_form" >
					<div class = "row">
						<div class = "col-md-6">
							<h3 class =  "text-center" style = "padding: 20px 0;font-size: 19px;font-weight: 300;" >Personal Details</h3>
		                    <div class="form-group">
		                        <label for="name">Name <sup>*</sup></label>
		                        <input required type="text" class="form-control" id="name" name="name">
		                    </div><!-- /.form-group -->                
		                    <div class="form-group">
		                        <label for="email">Email <sup>*</sup></label>
		                        <input required type="email" class="form-control" id="register-email" name = "email">
		                    </div><!-- /.form-group -->
		
		                    <div class="form-group">
		                        <label for="register-password">Password <sup>*</sup></label>
		                        <input  required type="password" name ="register-password" class="form-control" id="register-password">
		                    </div><!-- /.form-group -->
		                    <div class="form-group">
		                        <label for="register-confirm-password">Confirm Password <sup>*</sup></label>
		                        <input required type="password" name = "register-confirm-password" class="form-control" id="register-confirm-password">
		                    </div><!-- /.form-group -->
							<div class="form-group">
				                <label class="checkbox-inline">
				                	<input  type="checkbox" name="is_wholesale" id = "is_wholesale">
				                    <span>Are you registering as a wholesale Account ?</span>
				                </label>
			                </div>
			                <fieldset id = "is_wholesale" >
								<div class="alert alert-info">
			                        <strong class="upper">Note (For Wholesale Accounts Only)</strong><hr>
			                        <p>We will first verify your account and then activate it. This may take 24 hours after the registration is completed.</p>
			                    </div>
			                    <div class="form-group">
			                        <label for="company_name">Company Name<sup>*</sup></label>
			                        <input type="text" name = "company_name" class="form-control" id="company_name">
			                    </div><!-- /.form-group -->
			                    <div class="form-group">
			                        <label for="website">Website</label>
			                        <input  name = "website" class="form-control" id="website">
			                    </div><!-- /.form-group -->
			                    <div class="form-group">
			                        <label for="vat">State Issued Resale Number <sup>*</sup></label>
			                        <input type="text" name = "vat" class="form-control" id="vat">
			                    </div><!-- /.form-group -->	
		                        <div class="form-group">
		                            <label for="type_account" >Type of Account <sup>*</sup></label>
		                            <select name="type_account" placeholder="Type of Account" id="type_account" class="form-control dark">
										<option disabled selected value> -- Type of Account -- </option>
										<option value="retailer">Retailer</option>
										<option value="wholesale">Wholesale</option>
										<option value="private_label">Private Label</option>
		                            </select>
		                        </div><!-- /.form-group -->
			                </fieldset>
	                    </div>
	                    <div class = "col-md-6">
		                    <h3 class="text-center" style = "padding: 20px 0;font-size: 19px;font-weight: 300;" >Shipping Details</h3>
		                    <div class="form-group">
		                        <label for="street">Address Line 1 <sup>*</sup></label>
		                        <input required type="text" name="street" class="form-control" id="street">
		                    </div><!-- /.form-group -->
		                    <div class="form-group">
		                        <label for="street2">Address Line 2</label>
		                        <input  type="text" name="street2" class="form-control" id="street2">
		                    </div><!-- /.form-group -->                    
		                    <div class = "row">
			                    <div class= "col-md-4">
			                        <div class="form-group">
			                            <label for="city">City <sup>*</sup></label>
			                            <input type="text" required class="form-control dark" name="city" id="city" placeholder="City" />
			                        </div><!-- /.form-group -->
								</div>
			                    <div class= "col-md-4">
			                        <div class="form-group">
			                            <label for="state_id" >State <sup>*</sup></label>
			                            <select name="state_id" required placeholder="Select State" id="state_id" class="form-control dark">\
											<option disabled selected value> -- select a state -- </option>
			                            </select>
			                        </div><!-- /.form-group -->
								</div>
			                    <div class= "col-md-4">
			                        <div class="form-group">
			                            <label for="zip" >Zip <sup>*</sup></label>
			                            <input type="text" class="form-control dark" required name="zip"  id="zip" placeholder="Zip" />
			                        </div><!-- /.form-group -->
								</div>
		                    </div>
		                    <div class="form-group">
		                        <label for="phone">Phone Number</label>
		                        <input  type="text" required name="phone" class="form-control" id="phone">
		                    </div><!-- /.form-group -->
	                        <div class="form-group">
	                            <label for="country_id" >Country <sup>*</sup></label>
	                            <select name="country_id" required placeholder="Select Country" id="country_id" class="form-control dark">\
									<option disabled selected value> -- select a country -- </option>
									{% for country in request.country_ids %}
										<option   value="{{ country.id }}" name="{{country.code}}">{{ country.name }}</option>
									{% endfor %}
	                            </select>
	                        </div><!-- /.form-group -->
							<div class="form-group">
				                <label class="checkbox-inline">
				                	<input required checked type="checkbox" name="po_box" id = "po_box">
				                    <span>I understand that I cannot ship to a PO box.</span>
				                </label>
			                </div>
	                        <div class="form-group">	                    		                
		                    		<div class="g-recaptcha col-md-offset-2" data-sitekey="6LeXTxsUAAAAADxL3Ff2lwTXi15QvfU1_oWsa37h"></div>
	                    		</div>			                
		                    <div class="form-button">
		                        <button type="submit" class="btn btn-lg btn-primary btn-block has-spinner"><span class="spinner"><img src="/static/img/ajax-loader.gif" width="10" height="10"></span>Create Account</button>
		                    </div><!-- /.form-button -->
		                    <div class="form-button text-center" >
                                <button type="button" class="btn btn-link">
                                    <a href="#login-popup" title="Signin">
                                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                                        <span>Signin</span>
                                    </a>
                                </button>
		                    </div>                                                           	                   				                    		                    			                
	                    </div>
                    </div>
                </form>
            </div><!-- /.tab-pane -->        
        </div>
    </div>
</div>

{% if not request.user.is_authenticated %}
<div id="login-popup" class="white-popup login-popup mfp-hide">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs text-center" role="tablist">
            <h3 >Account Login</h3>
        </ul><!-- /.nav -->
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account-login">
                <form action="{% url 'odoo_auth:login' %}" method="POST" id="login-popup-form">
<!--                     <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Whoop!</strong> <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>                        
                    </div> -->
                    <div class="alert alert-warning hidden" id="auth_failed">
                        <strong>Whoop!</strong> <span>Wrong username or password</span>                        
                    </div> 
                    {% csrf_token %}                                            
                    <div class="form-group">
                        <label for="login-account">Account</label>
                        <input required type="text" name="username" class="form-control" id="login-account">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" required name="password" class="form-control" id="login-password" data-show-password="true">
                    </div><!-- /.form-group -->

                    <div class="forgot-passwd">
                        <a href="#forgot-password-popup" title="Forgot Password">
                            <i class="icon icon-key" aria-hidden="true"></i>
                            <span>Forgot your password?</span>
                        </a>
                    </div><!-- /.forgot-passwd -->
                    <div class="forgot-passwd">
                        <a href="#registration-popup" title="Signup">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <span>New to JJuice? Signup</span>
                        </a>
                    </div><!-- /.forgot-passwd -->                    
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="form-button">
                        <button type="submit" class="btn btn-lg btn-primary btn-block has-spinner"><span class="spinner"><img src="{% static 'img/ajax-loader.gif' %}" width="10" height="10"></span>Login</button>
                    </div><!-- /.form-group -->
                </form>
            </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </div>
</div><!-- /.login-popup -->
{% endif %}
{% endblock %}
{% block catalog_script%}
		{% if request.user.is_authenticated %}
        var upload_image_link = $("a#upload-image-link");
		var upload_input = $("input#upload-image")
		var profile_image_allowed = ['image/jpeg','image/png','image/gif']
		upload_image_link.on("click",function(){
			upload_input.click();
		});
		upload_input.on("change",function(){
			var inputFile = upload_input[0].files[0]
			var data = new FormData();
			if (inputFile == undefined){
				return
			}
			var size_mb = parseFloat((inputFile.size/1048576).toFixed(2)) //inputFile.size is in bytes
			if (size_mb > 1){
				toastr.warning("Sorry! Only 5 MB filesize allowed")
				return
			}

			if (profile_image_allowed.indexOf(inputFile.type) < 0 ){
				toastr.error("Sorry! Only png / jpg / gif format allowed")
				return
			}
			data.append('image', inputFile);
			data.append('csrfmiddlewaretoken',"{{csrf_token}}")
			$.ajax({
				type: "POST",
				url: "{% url 'odoo_auth:upload' %}",
				beforeSend:function(){
					// Before Send
				},
				data: data,
				cache: false,
				contentType: false,
				processData: false,
				error:function(data){
					console.log("error",data)
				},
				complete:function(){
					// on complete
				},
				success:function(data){
					// on success
					console.log("success",data)
					console.log(upload_image_link.find('image'));
					upload_image_link.find('img').attr('src','data:image/jpg;base64,'+data)
				},
			})
		});
        {% else %}
        var forgot_password_form = $("form#forgot_password_form");
        forgot_password_form.submit(function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                beforeSend:function(){
                    forgot_password_form.find("input").prop('disabled',true)
                    toastr.success("Password reset email requests is being sent!")
                    $.magnificPopup.close();
                },
                url: "{% url 'odoo_auth:forgot_password' %}",
                data: forgot_password_form.serialize(),
                error:function(data){
                    toastr.error("Due to some reason we were unable to process the request.Please try again")
                },
                success:function(data){
                    if (data.error){
                        toastr.error(data.msg)
                        return
                    }else{
                        toastr.success("Password reset email has been mailed to your Email ID")
                        $.magnificPopup.close();
                    }
                },
                complete:function(){
                    forgot_password_form.find("input").prop('disabled',false)
                },
            });
        });
        $('a[href="#login-popup"],a[href="#registration-popup"],a[href="#forgot-password-popup"]').magnificPopup({
            type:'inline',
            midClick: false,
            closeOnBgClick: false
        });
        $("form#login-popup-form").on('submit',function(){
            event.preventDefault();
            var form = this;
            $(form).find('div#auth_failed').addClass('hidden');
            var url = $(form).attr('action');
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(){
                    $(form).find("button[type='submit']").addClass('active')
                },
                data: $(form).serializeArray(),
                error:function(data){
                    console.log("error",data)
                },
                complete:function(){
                    $(form).find("button[type='submit']").removeClass('active')
                },
                success:function(data){
                    if (data['auth'] == true){
                        toastr.success("Login Successful")
                        $(form).find('div#auth_failed').addClass('hidden');
                        location.reload();
                    }else{
                        console.log($(form).find('div#auth_failed'))
                        $(form).find('div#auth_failed').removeClass('hidden')
                        toastr.error("Login Failed")
                    }

                },
            });
        });
        {% endif %}
{% endblock %}