{% extends "base.html" %}
{% load static %}
{% block site_header %} 
<header id="header" class="awe-menubar-header">
	<nav class="awemenu-nav headroom awemenu-default awemenu-standard headroom--top animation" data-responsive-width="1200">
		<div class="container">
			<div class="awemenu-container">
				<div class="navbar-header">
					<ul class="navbar-icons"> <!-- Navigation Bar Icons -->
                        <li class="menubar-account">
                            <a href="#" title="" class="awemenu-icon">
                                <i class="icon icon-user-circle"></i>
                                <span class="awe-hidden-text">Account</span>
                            </a>
                            <ul class="submenu megamenu">
                                <li>
                                    <div class="container-fluid">
                                        <div class="header-account">
                           	        		{% block account_info %}{% endblock %}
<!--                                             <div class="header-account-avatar">
                                                <a href="#" title="">
                                                    <img src="./img/samples/avatars/customers/1.jpg" alt="" class="img-circle">
                                                </a>
                                            </div>
                                            <div class="header-account-username">
                                                <h4><a href="#">Jessica Alba</a></h4>
                                            </div>
                                            <ul>
                                                <li><a href="#">Invite Friends</a></li>
                                                <li><a href="#">Account Infomation</a></li>
                                                <li><a href="#">Logout</a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </li>
                            </ul> <!-- submenu megamenu -->
                        </li>
                        {% block wishlist %}{% endblock %}
                        <li class="menubar-cart">
	 	                    <a href="#" title="" class="awemenu-icon menu-shopping-cart">
	                          <i class="icon icon-shopping-bag"></i>
	                          <span class="awe-hidden-text">Cart</span>
	                          <!-- <span class="cart-number">2</span> -->
	                      	</a>
                   			{% block cart_list %}{% endblock %}
	                    </li>                        
					</ul> <!-- Navigation Bar Icons End -->
					
					<ul class="navbar-search"> <!-- Navigation Bar Search -->
	                    <li>
	                        <a href="#" title="" class="awemenu-icon awe-menubar-search" id="open-search-form">
	                            <span class="sr-only">Search</span>
	                            <span class="icon icon-search"></span>
	                        </a>
	
	                        <div class="menubar-search-form" id="menubar-search-form">
	                            <form action="index.html" method="GET">
	                                <input type="text" name="s" class="form-control" placeholder="Search your entry here...">
	                                <div class="menubar-search-buttons">
	                                    <button type="submit" class="btn btn-sm btn-white">Search</button>
	                                    <button type="button" class="btn btn-sm btn-white" id="close-search-form">
	                                        <span class="icon icon-remove"></span>
	                                    </button>
	                                </div>
	                            </form>
	                        </div><!-- /.menubar-search-form -->
	                    </li>
					</ul>
				</div>
				<div class="awe-logo">
					<a href="/" title=""><img src="{% static 'img/logo.jpg' %}" alt=""></a>
				</div>
				<!-- /.awe-logo -->
				<div class="awemenu-bars"><span class="fa fa-bars"></span></div>
				<ul class="awemenu awemenu-right">
	                <li class="awemenu-item">
	                   <a href="/" title="">
	                       <span>HOME</span>
	                   </a>
	                </li>
	                <li class="awemenu-item">
	                   <a href="#" title="">
	                       <span>SHOP</span>
	                   </a>
	                   <ul class="awemenu-submenu awemenu-megamenu" data-width="90%" data-animation="fadeup">
	                   		<li class="awemenu-megamenu-item">
	                   			<div class="container-fluid">
	                   				<div class="row">
	                                    <div class="col-lg-offset-1 col-lg-3">
	                                        <div class="awe-media inline margin-bottom-25">
	                                            <div class="awe-media-image">
	                                                <a href="#" title="">
	                                                    <img src="{% static 'img/samples/menu/horosen-shop.jpg' %}" alt="">
	                                                </a>
	                                            </div>
	                                            <h4 class="awe-media-title medium upper center">
	                                                <a href="#" title="">10 ML</a>
	                                            </h4>
	                                        </div>
                                        </div>
	                                    <div class="col-lg-offset-1 col-lg-3">
	                                        <div class="awe-media inline">
	                                            <div class="awe-media-image">
	                                                <a href="#" title="">
	                                                    <img src="{% static 'img/samples/menu/police-shop.jpg' %}" alt="">
	                                                </a>
	                                            </div>
	                                            <h4 class="awe-media-title medium upper center">
	                                                <a href="#" title="">30 ML</a>
	                                            </h4>
	                                        </div>
                                        </div>
				                        <div class="col-lg-offset-1 col-lg-3">       
	                                        <div class="awe-media inline">
	                                            <div class="awe-media-image">
	                                                <a href="#" title="">
	                                                    <img src="{% static 'img/samples/menu/police-shop.jpg' %}" alt="">
	                                                </a>
	                                            </div>
	                                            <h4 class="awe-media-title medium upper center">
	                                                <a href="#" title="">60 ML</a>
	                                            </h4>
	                                        </div>	                                        
	                                   </div>
	                   				</div>
	                   			</div>
	                   		</li>
	                   </ul>
	                </li>
	                <li class="awemenu-item">
	                   <a href="#" title="">
	                       <span>ABOUT US</span>
	                   </a>
	                </li>	                
	                <li class="awemenu-item">
	                   <a href="#" title="">
	                       <span>CONTACT US</span>
	                   </a>
	                </li>	                	                
				</ul>				
			</div>
		</div>
	</nav>
</header>
{% endblock %}

{% block site_footer %}
<footer class="footer">
	<div class="footer-wrapper">
		<div class="footer-widgets">
			<div class="container">
				<div class="row">
                	<!-- About Us Widget -->
                	<div class="col-md-3">
	                    <div class="row">
	                        <div class="col-md-12 col-sm-6">
	                            <div class="widget">
	                                <h3 class="widget-title">
	                                	<a href="#"><span>ABOUT US</span></a>
	                                </h3>
	                                <div class="widget-content">
	                                    <p>A community of people being rad… Our group has been working on formulating the perfect vape experience, primarily for ourselves, until we realized every vaper we knew loved our juice and only wanted to fill their vapes with the ‘good stuff’. This was our inspiration...</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
                	</div>
                	<div class="col-md-3">
                    	<div class="widget">
            	            <h3 class="widget-title">WE CAN HELP YOU?</h3>
                            <div class="widget-content">
                                <p><i class="icon icon-telephone" style="color:white;padding-right:10px;"></i>(801) 331-8919</p>
								<p><i class="glyphicon glyphicon-map-marker" style="color:white;padding-right:10px;"></i>12411 South 265 West Ste C</p>
								<p><i class="glyphicon" style="color:white;padding-right:25px;"></i>Draper Utah, 84020</p>
								<p><i class="glyphicon" style="color:white;padding-right:25px;"></i>USA</p>
                                <p><i class="glyphicon glyphicon-envelope" style="color:white;padding-right:10px;"></i>hello@vapejjuice.com</p>
                            </div>
                        </div><!-- /.widget -->                	
                	</div>
                	<!-- Shopping Widget -->
                	<div class="col-md-3">
                		<div class="widget">
                        	<h3 class="widget-title">Shopping</h3>
                            <ul>
                                <li><a href="#" title="">Your Cart</a></li>
                                <li><a href="#" title="">Your Orders</a></li>
                                <li><a href="#" title="">10 ML</a></li>
                                <li><a href="#" title="">30 ML</a></li>
                                <li><a href="#" title="">60 ML</a></li>
                            </ul>
                        </div><!-- /.widget -->
                	</div>
                	<!-- Are You like me widget -->
                	<div class = "col-md-3">
						<div class="widget">
                	        <h3 class="widget-title">Are You Like Me</h3>
                            <ul class="list-socials">
                                <li><a href="https://twitter.com/vapejjuice" title=""><i class="icon icon-twitter"></i></a></li>
                                <li><a href="http://facebook.com/vapejjuice" title=""><i class="icon icon-facebook"></i></a></li>
                                <li><a href="http://instagram.com/vapejjuice" title=""><i class="fa fa-instagram"></i></a></li>
                                <li><a href="http://vapejjuice.tumblr.com/" title=""><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                        <div class="widget">
	                        <h3 class="widget-title">PAYMENT ACCEPT</h3>
                            <ul class="list-socials">
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-cc-paypal"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-cc-visa"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-cc-amex"></i>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.widget -->                	
                	</div>
				</div>
			</div> <!-- container ended -->
		</div> <!-- footer widget ended -->
        <div class="footer-copyright">
  	      <div class="container">
 	         <div class="copyright">
	             <p>Copyright &copy; 2017 JJuice - All Rights Reserved.</p>
             </div>
             <div class="footer-nav">
	             <nav>
	                 <ul>
	                     <li><a href="#" title="">Contact Us</a></li>
	                     <li><a href="#" title="">Term of Use</a></li>
	                     <li><a href="#" title="">Privacy Policy</a></li>
	                     <li><a href="#" title="">Site Map</a></li>
	                 </ul>
	             </nav>
                 <nav>
                     <ul>
                         <li class="dropdown dropup">
                             <div class="language-select">
                                 <span class="select-title">Language:</span>

                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     <span>ENG</span>
                                     <span class="icon icon-arrow-down"></span>
                                 </a>

                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="#">English</a></li>
                                 </ul>
                             </div>
                         </li>
                         <li class="dropdown dropup">
                             <div class="price-select">
                                 <span class="select-title">Price:</span>
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     <span>USD</span>
                                     <span class="icon icon-arrow-down"></span>
                                 </a>
                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="#">USD</a></li>
                                 </ul>
                             </div>
                         </li>
                     </ul>
                 </nav>
             </div>
         </div>
       </div><!-- /.footer-copyright -->
	</div> <!-- footer wrapper -->
	<a href="#" class="back-top" title="">
        <span class="back-top-image">
            <img src="{% static '/img/back-top.png' %}" alt="">
        </span>
        <small>Back to top</small>
    </a>
</footer>
{% endblock %}