{% extends "catalog.html" %}
{% load options %}
{% load static %}
{% load rating %}
{% load catalog_filters %}

{% block site_main %}
<div class="main-header background background-image-heading-product" style="background-image: url({{ flavor.get_banner_url }}) !important;">
    <div class="container">
        <h1>{{  flavor.name }}</h1>
    </div>
</div>
<div id="breadcrumb">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="{% url 'catalog:volume' id=volume_id view='form' %}">{{ current_volume.name }}</a></li>
			<li class="active"><span>{{ flavor.name }}</span></li>
		</ol>
	</div>
</div>	
<div class="container" >
	<div class="row" >
		<div class="col-md-6">
			<div class="product-slider-wrapper thumbs-bottom" >
				<div class="swiper-container product-slider-main">
                	<div class="swiper-wrapper">
                	   {% for product in products %}
                        <div class="swiper-slide" data-value="{{ product.conc_id.id }}">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="{{ product.get_image_url }}" title="">
                                    <img src="{{ product.get_image_url }}" alt="">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                	</div>
					<div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
                    <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div>
				</div><!-- /.swiper-container -->
				<div class="swiper-container product-slider-thumbs">
					<div class="swiper-wrapper">
						{% for product in products %}
                        <div class="swiper-slide">
                            <img src="{{ product.get_image_url }}" alt="">
                        </div>						
                        {% endfor %}
					</div>
				</div><!-- /.swiper-container -->
			</div><!-- /.product-slider-wrapper -->
		</div>
		<div class="col-md-6">
            <nav class="pnav">
<!--                 <div class="pull-right">
                    <a href="#" class="btn btn-sm btn-arrow btn-default">
                        <i class="fa fa-chevron-left"></i>
                    </a>

                    <a href="#" class="btn btn-sm btn-arrow btn-default">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div> -->

                <!-- <a href="{% url 'catalog:volume' id=volume_id view='form'%}" class="back-to-pcate"> -->
                <a href="{{back_url}}" class="back-to-pcate">
                    <i class="fa fa-chevron-left"></i>
                    <span>Back</span>
                </a>
            </nav><!-- /header -->
            <div class="product-details-wrapper">
                <h2 class="product-name">
                    <a href="#" title=" {{ flavor.name }}">{{ flavor.name }}</a>
                </h2><!-- /.product-name -->
	            <div class="product-description">
	                <p>{{ flavor.short_description|default_if_none:" " }}</p>
	            </div><!-- /.product-description -->
	            <div class="product-features">
				    <h3>Special Features:</h3>
				    <ul>
				        <li>GMO Free, USP, Kosher - VG & PG</li>
				        <li>Highest quality flavorings perfectly formulated</li>
				        <li>Not diluted with any extraneous oils or distilled water</li>
                        <li>Child Proof Cap</li>
                        <li>Manufactured in a Certified Facility</li>
                        <li>Quality Ingredients</li>
                        <li>Made in U.S.A.</li>
                        <li>Tamper Proof Seal</li>
                        <li>Traceable Batch Code</li>
				    </ul>
				</div><!-- /.product-features -->
                <div class="product-actions-wrapper">
                    <div>
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="fa fa-exclamation-triangle"></i>
                        {% for key,value in form.errors.items  %}      
                        <span>{{ key|escape }} : {{ value|escape }}</span>
                        {% endfor %}        
                    </div>                                            
                    {% endif %}                
                    </div>
                    <form action="{% url 'catalog:flavor' id=flavor.id %}" id = "add_to_cart" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="p_color">Volume</label>
                                    <select name="volume_id" id="p_color" class="form-control text-center" >
                                        <option value="{{ volume_id }}">{{ current_volume.name }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="p_size">Nicotine Strength</label>
                                    <select name="conc_id" id="p_size" class="form-control text-center">
                                        {% for i in products %}
                                        	<option value="{{ i.conc_id.id }}">{{ i.conc_id.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="p_qty">Qty</label>
                                    <input name="quantity" id="p_qty" type="number" value="1" autofocus class="form-control text-center" autocomplete="off" required>
                                </div>
                            </div>
                            <input name="flavor_id" id="p_flavor_id" type="hidden" required class="form-control" value="{{flavor.id}}"/>
                            <input name="back_url" id = "p_back_url" type="hidden" required class="form-control" value="{{back_url}}" />
                         </div>
                        <div class="product-list-actions">
                            <span class="product-price">
                                <span class="amount">{{ price|currency }}</span>
                                {% if old_price != 0 %}
                                <del class="amount">{{ old_price|currency }}</del>
                                {% endif %}
                            </span><!-- /.product-price -->

                            <button class="btn btn-lg btn-primary" id = "add_to_cart" type="submit" >Add to cart</button>
                        </div><!-- /.product-list-actions -->
                    </form>
                </div><!-- /.product-actions-wrapper -->				                            
            </div>
		</div>		
	</div><!-- end row -->
    <div class="product-socials">
        <ul class="list-socials">
            <li><a data-toggle="tooltip" href="https://twitter.com/vapejjuice" title=""><i class="icon icon-twitter"></i></a></li>
            <li><a data-toggle="tooltip" href="http://facebook.com/vapejjuice" title=""><i class="icon icon-facebook"></i></a></li>
            <li><a data-toggle="tooltip" href="http://instagram.com/vapejjuice" title=""><i class="fa fa-instagram"></i></a></li>
            <li><a data-toggle="tooltip" href="http://vapejjuice.tumblr.com/" title=""><i class="fa fa-tumblr"></i></a></li>        
        </ul>
    </div><!-- /.product-socials -->	
    <div class="product-details-left">
    	<div role="tabpanel" class="product-details">
            <nav>
                <ul class="nav" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#product-description"  data-toggle="tab">Description</a>
                    </li>
                    <li role="presentation">
                        <a href="#product-infomation"  data-toggle="tab">Additional Infomation</a>
                    </li>
                    <li role="presentation">
                        <a href="#product-review"  data-toggle="tab">Review <span>({{ flavor.flavor_review_ids.count }})</span></a>
                    </li>
                </ul><!-- /.nav -->
            </nav><!-- /nav -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="product-description">
                    <p>{{ flavor.long_description|default_if_none:" " }}</p>
                </div><!-- /.tab-pane -->
                <div role="tabpanel" class="tab-pane" id="product-infomation">
                    <ul>
                        <li>
                            <span>Weight</span>
                            <span class="value">{{ current_volume.weight }}</span>
                        </li>

                        <li>
                            <span>Ratio</span>
                            <span class="value">{{ current_volume.ratio }}</span>
                        </li>

                        <li>
                            <span>Nicotine Strengths Available</span>
                            <span class="value">
                            {% for product in products %}
                            {{ product.conc_id.name }}
                            {% if not forloop.last %} ,{% endif %}
                            {% endfor %}
                            </span>
                        </li>
                    </ul>
                </div><!-- /.tab-pane -->
                <div role="tabpanel" class="tab-pane" id="product-review">
                	<h3>Reviews <span>({{ flavor.flavor_review_ids.count }})</span></h3>
                	<ol class="product-review-list">
                		{% for r in flavor.flavor_review_ids.values %}
                		<li>
                			{% rating r %}
	           			    <div class="review-comment">
	                            <p>{{ r.description|default_if_none:" " }}</p>
	                        </div>
                            <div class="review-meta">
                                <span>Posted by</span>
                                <a href="#" class="author">{{ r.name }}</a>
                                <span>-</span>
                                <span>{{ r.create_date|date:"M d, Y" }}</span>
                            </div>	                                  
                        </li>      		
                		{% endfor %}
                	</ol>
                    {% if review_count <= 0 %}
                    {% if request.user.is_authenticated %}
                	<h3>Add a review</h3>
                    <form action="{% url 'catalog:flavor_review' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="reply-name">Name <sup>*</sup></label>
                                    <input type="text" name="name" class="form-control" value="{{ request.user.odoo_user.partner_id.name|safe}}" required id="reply-name" placeholder="Name">
                                    <input type="hidden" class="form-control" name="flavor_id" value="{{ flavor.id }}" required id="reply-name" placeholder="Flavor">
                                    <input type="hidden" class="form-control" name="volume_id" value="{{ volume_id }}" required id="reply-name" placeholder="Flavor">                                                                        
                                </div><!-- /.form-group -->
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="reply-email">Email <sup>*</sup></label>
                                    <input type="email" name="email" value="{{ request.user.odoo_user.partner_id.email|safe }}" required class="form-control" id="reply-email" placeholder="Email">
                                </div><!-- /.form-group -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="reply-title">Title <sup>*</sup></label>
                            <input type="text" name="title" class="form-control" required id="reply-title" placeholder="title">
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label for="reply-text">Your review <sup>*</sup></label>
                            <textarea  name="description" required class="form-control" id="reply-text" rows="7" placeholder="Your review"></textarea>
                        </div><!-- /.form-group -->
                        <div class="form-submit clearfix">
                            <span class="title pull-left">Your rating:</span>
                            <div class="review-rating">
                                <div class="stars">
                                    <input class="star star-5" value="4" id="star-5" type="radio" name="rating"/>
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" value="3" id="star-4" type="radio" name="rating"/>
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" value="2" id="star-3" type="radio" name="rating"/>
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" value="1" id="star-2" type="radio" name="rating"/>
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" value="0" id="star-1" required type="radio" name="rating"/>
                                    <label class="star star-1" for="star-1"></label>
                                </div>
                            </div>                        
                            <div class="pull-right">
                                <button type="submit" class="submit btn btn-lg btn-default">Submit</button>
                            </div>
                        </div><!-- /.form-submit -->
                    </form><!-- /form -->                	
                    {% else %}
                    <div class="pull-left">
                        <button type="button"  class="btn btn-lg btn-primary"><a href="#login-popup" >Add product review</a></button>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
    	</div>
    </div>
</div>
{% endblock %}
{% block load_javascript %}
    require(['add_to_cart'],function(AddToCart){
        aweProductRender(true);
        var add_to_cart_form = $("form#add_to_cart")
        var add_to_cart_view = new AddToCart.Views.Main(add_to_cart_form)
    });

{% endblock %}