{% load static %}
{% load call_method %}
<div class="col-md-12">
    <div class="product product-list">
        <div class="product-media">
            <div class="product-thumbnail">
                <a href="{% url 'catalog:flavor' id=flavor_id.id %}?volume_id={{ volume_id }}&back={{back_url}}" title="">
                    <img src="{% flavor_get_image_url flavor_id volume_id %}" alt="">
                </a>
            </div><!-- /.product-thumbnail -->
            <div class="product-hover">
                <div class="product-actions">
                    <button  class="">
                        <span class="icon icon-shopping-bag"></span>
                    </button>

<!--                         <button  class="">
                        <span class="icon icon-star"></span>
                    </button>
-->
                    <button  class="">
                        <span class="fa fa-eye"></span>
                    </button>
                </div>
            </div><!-- /.product-hover -->
        </div><!-- /.product-media -->

        <div class="product-body">
            <h2 class="product-name">
                <a href="#" title="{{ flavor_id.name }}">{{ flavor_id.name }}</a>
            </h2><!-- /.product-product -->

            <div class="product-category">
                <span>{{ name }}</span>
            </div><!-- /.product-category -->

            <div class="product-description">
                <p>{{ flavor_id.short_description |default_if_none:"" }}</p>
            </div>

            <div class="product-list-actions">
                <a href="{% url 'cart:quick_show_cart' id=flavor_id.id %}?volume_id={{ volume_id }}" class="awe-button product-quick-view" data-toggle="tooltip" title="Quickview"><button class="btn btn-lg btn-primary" >Add to cart</button></a>
                <a href="{% url 'catalog:flavor_quick_view' id=flavor_id.id %}?volume_id={{ volume_id }}" class="awe-button product-quick-view" data-toggle="tooltip" title="Quickview">
                 <button class="btn btn-lg btn-dark btn-outline" > Quickview </button>                
                 </a>
                
            </div><!-- /.product-actions -->

        </div><!-- /.product-body -->
    </div><!-- /.product -->

</div>