{% extends "catalog.html" %}
{% load static %}
{% load flavor_grid_view %}
{% block site_main %}
<!--Video Section-->
{% if not website_banner_ids.exists %}
<section class="content-section video-section">
    <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=3LTJXcvz2ro',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section>
    <div class="main-slider-wrapper">
        <div class="main-slider owl-carousel owl-carousel-inset">
            {% for banner in website_banner_ids %}
            <div class="main-slider-item">
                <div class="main-slider-image">
                    <img src="{{ banner.get_image_url }}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<section>
    <div class="container">
        <div class="policy-wrapper border-bottom">
            <div class="row">
            	{% for x in policies %}
                <div class="col-md-4 col-sm-4 col-xs-8">
                    <div class="policy">
                        <div class="policy-icon">
                            <img src="{{ x.get_image_url }}" />
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--Video Section Ends Here-->
<section>
    <div class="container">
        {% if request.volumes_data|length > 3 %}
        <div class="padding-vertical-50 border-bottom">
            <div class = "arrivals">
                <div class="section-header center">
                    <h2 class="upper margin-bottom-20">SHOP</h2>
                    <p>Size Does Matter</p>
                </div><!-- ./section-header -->
                <div class="products home-products owl-carousel" data-items="4">
                    {% for key,value in request.volumes_data.items %}
                        <div class="awe-media">
                            <div class="awe-media-image">
                                <a href="{% url 'catalog:volume' id=key view='form'  %}" title="{{ value.name }}">
                                    {% if value.category_url %}
                                        <img src="{{ value.category_url }}" alt="">
                                    {% else %}
                                        <img src="{% static 'img/270x200.jpg' %}" alt="">
                                    {% endif %}
                                </a>
                            </div><!-- /.awe-media-image -->

                            <div class="awe-media-body center margin-vertical-20">
                                <a href="{% url 'catalog:volume' id=key view='form'  %}" title="{{value.name}}">{{value.name}}</a>
                            </div><!-- /.awe-media-body -->
                        </div><!-- /.awe-media -->
                    {% endfor %}
                </div><!-- /.products -->
            </div>
        </div>
        {% else %}
        <div class="home-products padding-vertical-60">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="awe-media home-cate-media">
                        <div class="awe-media-header">
                            <div class="awe-media-image">
                                <img src="{% static  'img/shop.jpg' %}" alt="">
                            </div><!-- /.awe-media-image -->
                            <div class="awe-media-overlay overlay-dark-50 fullpage">
                                <div class="content">

                                    <div class="fp-table text-left">
                                        <div class="fp-table-cell">

                                            <h2 class="upper">SHOP</h2>
                                            <p class="margin-bottom-50">Size Does Matter</p>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- /.awe-media-overlay -->

                        </div><!-- /.awe-media-header -->
                    </div><!-- /.awe-media -->
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="products owl-carousel" data-items="{{ request.volumes_data|length }}">
                        {% for key,value in request.volumes_data.items %}
                            <div class="product product-grid">
                                <div class="product-media">
                                    <div class="product-thumbnail">
                                        <a href="{% url 'catalog:volume' id=key view='form'  %}" title="">
                                            {% if value.category_url %}
                                                <img src="{{ value.category_url }}" alt="" class = "current">
                                            {% else %}
                                                <img src="{% static 'img/270x200.jpg' %}" class = "current" alt="">
                                            {% endif %}
                                        </a>
                                    </div><!-- /.product-thumbnail -->
                                    <div class="product-body">
                                        <h2 class="product-name">
                                            <a href="{% url 'catalog:volume' id=key view='form'  %}" title="{{value.name}}">{{value.name}}</a>
                                        </h2><!-- /.product-product -->
                                    </div><!-- /.product-body -->
                                </div><!-- /.awe-media -->
                            </div>
                        {% endfor %}
                    </div><!-- ./products -->
                </div>
            </div>
        </div>
        {% endif %}
    </div><!-- /.container -->
</section><!-- /section -->
<section>
    <div class="container">
        <div class="padding-vertical-50 border-bottom">
            <div class="section-header center">
                <h2>FEATURED JJUICE BLENDS</h2>
            </div><!-- /.section-header -->

            <div class="products home-products owl-carousel" data-items="4">
                
                    {% for line in lines_list %}
                        {# Django provides it you can use {{ forloop.counter }} index start at 1 or {{ forloop.counter0 }} index start at 0. #}
                        {% flavor_grid_view request line.0 line.1 '/' %}
                    {% endfor %}
                
            </div><!-- /.products -->
        </div><!-- /.padding-vertical-50 -->
    </div><!-- /.container -->
</section><!-- /section -->

<section class="background background-color-dark background-image-section-customers-say" style="background-image: url({{ customerreview_banner_url }}) !important;">
    <div class="container" >
        <div class="padding-top-60">
            <div class="section-header center">
                <h2>REVIEWS</h2>
            </div><!-- /.section-header -->

            <div class="section-customers">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="customers-carousel owl-carousel"  id="customers-carousel" data-toggle="carousel" data-dots="true" data-nav="0">
                            {% for review in reviews %}
                            <div class="center">
                                <h4>{{ review.partner_id.name }}</h4>
                                <p>“{{ review.review }}“</p>
                            </div><!-- /.center -->
                            {% endfor %}
                        </div><!-- /.customers-say-carousel -->
                    </div>
                </div>
            </div><!-- /.section-content -->
        </div>
    </div><!-- /.container -->

    <div class="section-brands">
        <div class="container">
            <div class="brands-carousel owl-carousel" data-items="{{ reviews|length }}" id="brands-carousel">
                {% for review in reviews %}
                <div class = "center" >
                    {% if review.partner_id.image %}
                        <img src="data:image/jpg;base64,{{ review.partner_id.image }}" alt="" style="height:80px;width:90px;">
                    {% else %}
                        <img src="{% static 'img/samples/brands/brand-1.png' %}" style="height:80px;width:90px;" alt="">
                    {% endif %}
                </div>
                {% endfor %}
            </div><!-- /.brands-carousel -->
        </div><!-- /.container -->
    </div><!-- /.section-brands -->
</section><!-- /section -->

<section>
    <div class = "container">
        <div class="padding-top-60">
            <div class="section-header center">
                <h2>LATEST FACEBOOK RATINGS</h2>
            </div><!-- /.section-header -->
            <div class = "col-md-12">
                {% for review in facebook.data %}
                <div class = "review-item col-md-2"  style = "height:140px;">
                    <div class = "review-meta" >
                        <img src="https://graph.facebook.com/{{review.reviewer.id}}/picture" style="border-radius: 25px;" class="padding-bottom" alt="">
                    </div>
                    <div class = "review-meta">
                        <span class="review-author">{{ review.reviewer.name }}</span>
                    </div>
                    {% if review.has_rating %}
                        <div class = "review-stars" {% if review.has_review %} data-toggle="tooltip" data-original-title="{{ review.review_text }} {% endif %}">
                        <ul>
                            {% for star in star_range %}
                                {% if star <= review.rating %}
                                <li><i class="fa fa-star"></i></li>
                                {% else %}
                                <li><i class="fa fa-star-o"></i></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <!--{% if review.has_review %}-->
                        <!--<p class = "review-text" >“{{ review.review_text }}“</p>-->
                    <!--{% endif %}-->
                </div>
                {%  endfor %}
            </div>
        </div>
    </div>
</section>
<section>
    <link rel="stylesheet" href="{% static 'css/google-places.css' %}" >
    <div class="container">
        <div class="padding-vertical-10 border-bottom">
            <div class="section-header center">
                <h2>GOOGLE REVIEWS</h2>
            </div><!-- /.section-header -->
        </div>
        <div id="google-reviews"></div>
        <div class="text-center">
            <button type="button" class="btn btn-primary">
                <a href="https://www.google.co.in/search?client=safari&rls=en&q=jjuice&ie=UTF-8&oe=UTF-8&gfe_rd=cr&ei=n4pTWfKCN-Hs8Ae_7IagDA#gfe_rd=cr&lrd=0x8752871b8910f9f1:0xd11d98934b69063,1," target="_blank" title="Signin">
                    <span>See All Our Google Reviews</span>
                </a>
            </button>
        </div>
    </div>
</section>
<section>

</section>
{% endblock %}


{% block load_javascript %}
{% if not website_banner_ids.exists %}
    $(document).ready(function () {
        require(['YTPlayer'],function(){
            $(document).ready(function () {
                $(".player").mb_YTPlayer({autoPlay: true,stopAt: 73,});
            });
        })
    })
{% else %}
    aweMainSlider();
{% endif %}
    require(['google_places'],function(){
        jQuery(document).ready(function( $ ) {
           $("#google-reviews").googlePlaces({
                placeId: 'ChIJ8fkQiRuHUocRY5C2NInZEQ0' //Find placeID @: https://developers.google.com/places/place-id
              , render: ['reviews']
              , min_rating: 4
              , max_rows:4
           });
        });
    })

{% endblock %}
