{% extends "catalog.html" %}
{% load static %}
{% load flavor_grid_view %}
{% block site_main %}
<!-- <section>
    <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
    <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
	<div class="container">
		<div class="margin-vertical-30">
			<div class="main-slider-wrapper">
				<div class="main-slider owl-carousel owl-carousel-inset">
					{% for i in banners %}
		            <div class="main-slider-item">
		                <div class="main-slider-image">
		                    <img src="{{ i.get_image_url }}" alt="">
		                </div>
		                <div class="main-slider-text">
		                    <div class="fp-table">
		                        <div class="fp-table-cell center">
		                            <div class="container">
		                                <h3>The Shoes For Summer</h3>
		                                <h2>Shoes Vans<br>$160.00</h2>
		
		                                <div class="button">
		                                    <a href="#" class="btn btn-lg btn-primary margin-right-15">Shop now</a>
		                                    <a href="#" class="btn btn-lg btn-white btn-outline">Browse category</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            {% endfor %}
				</div>
			</div>
			<script>
				$(function() {  aweMainSlider({}); });
			</script>
		</div>
	</div>
</section> -->

<!--Video Section-->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="{% static 'js/plugins/jquery.mb.YTPlayer.js' %}"></script>
<section class="content-section video-section">
    <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=3LTJXcvz2ro',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
<!--                     <h1>Full Width Video</h1>  
                    <h3>Enjoy Adding Full Screen Videos to your Page Sections</h3> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--Video Section Ends Here-->
<section>
    <div class="container">
        <div class="policy-wrapper border-bottom">
            <div class="row">
            	{% for x in policies %}
                <div class="col-md-4 col-sm-4 col-xs-8">
                    <div class="policy">
                        <div class="policy-icon">
                            <img src="{{ x.get_image_url }}" />
                        </div>
                        <div class="policy-text" style="text-align:center;padding-top: 15px">
                            <h4>{{ x.name }}</h4>
                            <p>{{ x.description }}</p>
                        </div>						
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="padding-vertical-50 border-bottom">
            <div class = "arrivals">
                <div class="section-header center">
                    <h2 class="upper margin-bottom-20">SHOP</h2>
                    <p>Choose Whatever Msg You want over here</p>
                </div><!-- ./section-header -->
                <div class="products home-products owl-carousel" data-items="4">
                    {% for key,value in request.volumes_data.items %}
                        <div class="awe-media">
                            <div class="awe-media-image">
                                <a href="{% url 'catalog:volume' id=key view='form'  %}" title="{{ value.name }}">
                                    {% if value.category_url %}
                                        <img src="{{ value.category_url }}" alt="">
                                    {% else %}
                                        <img src="{% static 'img/270x200.jpg' %}" alt="">
                                    {% endif %}
                                </a>
                            </div><!-- /.awe-media-image -->

                            <div class="awe-media-body center margin-vertical-20">
                                <a href="{% url 'catalog:volume' id=key view='form'  %}" title="{{value.name}}">{{value.name}}</a>
                            </div><!-- /.awe-media-body -->
                        </div><!-- /.awe-media -->
                    {% endfor %}
                </div><!-- /.products -->            
            </div><!-- /.home-trending -->                
        </div>
    </div><!-- /.container -->
</section><!-- /section -->

<section>
    <div class="container">
        <div class="padding-vertical-50 border-bottom">
            <div class="section-header center">
                <h2>FEATURED JJUICE BLENDS</h2>
            </div><!-- /.section-header -->

            <div class="products home-products owl-carousel" data-items="4">
                
                    {% for line in lines_list %}
                        {# Django provides it you can use {{ forloop.counter }} index start at 1 or {{ forloop.counter0 }} index start at 0. #}
                        {% flavor_grid_view line.0 line.1 '/' %}
                    {% endfor %}
                
            </div><!-- /.products -->
        </div><!-- /.padding-vertical-50 -->
    </div><!-- /.container -->
</section><!-- /section -->

<section class="background background-color-dark background-image-section-customers-say" style="background-image: url({{ customerreview_banner_url }}) !important;">
    <div class="container" >
        <div class="padding-top-60">
            <div class="section-header center">
                <h2>Customer Say</h2>
            </div><!-- /.section-header -->

            <div class="section-customers">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="customers-carousel owl-carousel"  id="customers-carousel" data-toggle="carousel" data-dots="true" data-nav="0">
                            {% for review in reviews %}
                            <div class="center">
                                <h4>{{ review.partner_id.name }}</h4>
                                <p>“{{ review.review }}“</p>
                            </div><!-- /.center -->
                            {% endfor %}
                        </div><!-- /.customers-say-carousel -->
                    </div>
                </div>
            </div><!-- /.section-content -->
        </div>
    </div><!-- /.container -->

    <div class="section-brands">
        <div class="container">
            <div class="brands-carousel owl-carousel" data-items="{{ reviews|length }}" id="brands-carousel">
                {% for review in reviews %}
                <div class = "center" >
                    {% if review.partner_id.image %}
                        <img src="data:image/jpg;base64,{{ review.partner_id.image }}" alt="" style="height:80px;width:90px;">
                        
                    {% else %}                        
                        <img src="{% static 'img/samples/brands/brand-1.png' %}" style="height:80px;width:90px;" alt="">
                    {% endif %}
                </div>
                {% endfor %}
            </div><!-- /.brands-carousel -->
        </div><!-- /.container -->
    </div><!-- /.section-brands -->

</section><!-- /section --> 

<section>
    <div class="container">
        <div class="margin-bottom-50 margin-top-50">
            <div class="subscible-wrapper subscible-inline">
                <div class="row">
                    <div class="col-md-2">
                        <h3 class="subscribe-title">Subscribe newsletter</h3>
                    </div>

                    <div class="col-md-4">
                        <div class="subscribe-comment">
                            <p>Subscripte to our newsletter to get the updated from upcoming flavors</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form method="GET" action="{% url 'misc:newsletter' %}" class="subscible-form">
                            {% csrf_token %}    
                            <div class="form-group">
                                <label class="sr-only" for="subscribe-email">Email</label>
                                <input type="email" name="email"  required placeholder="Enter your email address" class="form-control" id="subscribe-email">
                            </div>

                            <div class="form-submit">
                                <button class="btn btn-lg btn-primary" type="submit">Subscribe email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.subscible-wrapper -->
        </div>
    </div><!-- /.container -->
</section><!-- /section -->

<script>
$(document).ready(function () {
    $(".player").mb_YTPlayer();
});
</script>

{% endblock %}
