{% extends "catalog.html" %}
{% load options %}
{% load static %}
{% block site_main %}
{% load flavor_grid_view %}

<div class="main-header background background-image-heading-products">
    <div class="container">
        <h1>Enjoy Yourself!</h1>
    </div>
</div>
<div id="breadcrumb">
	<div class="container">
		<ol class="breadcrumb">
		    <li><a href="/">Home</a></li>
		    <li class="active"><span>{{ name }}</span></li>
		</ol>
	</div>
</div>
<div class = "container">
	<div class="row">
		<div class="col-md-9 col-md-push-3">
			<div class="product-header-actions">
			<ul class="pagination">
	       	{% if lines.has_previous %}
		       	<li class="pagination-prev"><a href="?page={{ lines.previous_page_number }}"><i class="icon icon-arrow-prev"></i></a></li>
	           	<li><span>...</span></li>
	   		{% endif %}
	            <li class="active" ><a href="#">{{ lines.number }}</a></li>
			{% if lines.has_next %}
				<li><span>...</span></li>
				<li class="pagination-next"><a href="?page={{ lines.next_page_number }}"><i class="icon icon-arrow-next"></i></a></li>
	        {% endif %}                
	        </ul><!-- ./pagination -->			
                <form action="/volume/{{ volume_id }}/" method="GET" class="form-inline" >
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="view-icons">
                                <a href="#" class="view-icon active"><span class="icon icon-th"></span></a>
                                <!-- <a href="#" class="view-icon "><span class="icon icon-th-list"></span></a> -->
                            </div>
                            <div class="view-count">
                                <span class="text-muted">Page {{ lines.number }} of {{ lines.paginator.num_pages }}</span>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <div class="form-show-sort">
                                <div class="form-group pull-left">
                                    <label for="p_show">Show</label>
                                    <select name="per_page" id="per_page" class="form-control input-sm" onchange="this.form.submit()">
                                    	{% options per_page_options per_page %}
                                    </select>
                                    <strong>per page</strong>
                                </div><!-- /.form-group -->

                                <div class="form-group pull-right text-right">
                                    <label for="p_sort_by">Sort By</label>
                                    <select name="sort_by" id="sort_by" onchange="this.form.submit()" class="form-control input-sm">
										{% options sort_options sort_by %}
                                    </select>
                                </div><!-- /.form-group -->
                            </div>
                        </div>
                    </div><!-- /.row -->
                </form>	
			</div> <!-- /.product-header-actions -->
			<div class="products products-grid-wrapper">
				<div class="row">
				{% for line in lines %}
					{# Django provides it you can use {{ forloop.counter }} index start at 1 or {{ forloop.counter0 }} index start at 0. #}
					{% flavor_grid_view line %}
				{% endfor %} 					
				</div>
			</div>
            <ul class="pagination">
            	{% if lines.has_previous %}
            	<li class="pagination-prev"><a href="?page={{ lines.previous_page_number }}"><i class="icon icon-arrow-prev"></i></a></li>
            	<li><span>...</span></li>
        		{% endif %}
                <li class="active" ><a href="#">{{ lines.number }}</a></li>
				{% if lines.has_next %}
					<li><span>...</span></li>
					<li class="pagination-next"><a href="?page={{ lines.next_page_number }}"><i class="icon icon-arrow-next"></i></a></li>
		        {% endif %}                
            </ul><!-- ./pagination -->						
		</div>
		<div class="col-md-3 col-md-pull-9">
			<div id="shop-widgets-filters" class="shop-widgets-filters">
				<div id="widget-area" class="widget-area">
					<div class="widget woocommerce widget_product_categories">
						<h3 class="widget-title">Volumes</h3>
						<ul>
							{% for key,value in request.volumes_data.items %}
							{% if  volume_id == key %}
								<li class="active"><a href="{% url 'catalog:volume' id=key  %}" title="">{{ value.name }}</a></li>
							{% else %}
								<li ><a href="{% url 'catalog:volume' id=key  %}" title="">{{ value.name }}</a></li>
							{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
            <div id="open-filters">
                <i class="fa fa-filter"></i>
                <span>Filter</span>
            </div>			
		</div>		
		<script>
		    $(function() { aweProductSidebar(); });
		</script>
	</div>
</div>
	
{% endblock %}
