{% extends 'catalog.html' %}
{% load static %}
{% load misc_filters %}
{% block site_main %}

<div class="main-header background background-image-heading-about-us">
    <div class="container">
        <h1>About Us</h1>
    </div>
</div>

<div id="breadcrumb">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active"><span>About Us</span></li>
		</ol>
	</div>
</div>

<section>
    <div class="container">

        <div class="padding-vertical-50 border-bottom">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="awe-box center">
                        <div class="awe-box-media">
                            <div class="awe-box-image">
                                <img src="{% static 'img/logo-dark.png' %}" alt="">
                            </div>
                        </div><!-- /.awe-box-media -->

                        <div class="awe-box-content">
                            <h2>Best shop fashion</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero. Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit</p>
                        </div><!-- /.awe-box-content -->
                    </div><!-- /.awe-box -->

                </div>
            </div>
        </div><!-- /.padding-vertical-50 -->

        <div class="padding-vertical-50 border-bottom">
            <div class="row">
                <div class="col-md-4 col-sm-4">

                    <div class="awe-box center box-hover margin-bottom-25">
                        <div class="awe-box-media">
                            <div class="awe-box-icon icon-large">
                                <i class="icon icon-like"></i>
                            </div>
                        </div><!-- /.awe-box-media -->

                        <div class="awe-box-content">
                            <h3>Best Service</h3>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain</p>
                        </div><!-- /.awe-box-content -->
                    </div><!-- /.awe-box -->

                </div>

                <div class="col-md-4 col-sm-4">

                    <div class="awe-box center box-hover margin-bottom-25">
                        <div class="awe-box-media">
                            <div class="awe-box-icon icon-large">
                                <i class="icon icon-shirt"></i>
                            </div>
                        </div><!-- /.awe-box-media -->

                        <div class="awe-box-content">
                            <h3>Good product</h3>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and of the great explorer of the truth, the master-builder of human happiness</p>
                        </div><!-- /.awe-box-content -->
                    </div><!-- /.awe-box -->

                </div>

                <div class="col-md-4 col-sm-4">

                    <div class="awe-box center box-hover margin-bottom-25">
                        <div class="awe-box-media">
                            <div class="awe-box-icon icon-large">
                                <i class="icon icon-help"></i>
                            </div>
                        </div><!-- /.awe-box-media -->

                        <div class="awe-box-content">
                            <h3>Always Ask Why</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt</p>
                        </div><!-- /.awe-box-content -->
                    </div><!-- /.awe-box -->

                </div>
            </div><!-- /.row -->
        </div><!-- /.padding-vertical-50 -->

        <div class="padding-vertical-80">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <blockquote class="blockquote large center">
                        <p>Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper</p>
                        <footer>
                            <h4>Geoff Weiss</h4>
                            <span>CEO</span>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div><!-- /.padding-vertical-80 -->

    </div><!-- /.container -->
</section><!-- /section -->

<section class="background background-color-dark background-image-section-counting background-fixed">
    <div class="container">

        <div class="padding-vertical-100">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="awe-counting">
                        <h4>Total Selling Item</h4>
                        <span>234</span>
                    </div>
                </div><!-- /.awe-counting -->

                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="awe-counting">
                        <h4>All Item</h4>
                        <span>1560</span>
                    </div><!-- /.awe-counting -->
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="awe-counting">
                        <h4>Total Customer</h4>
                        <span>524</span>
                    </div><!-- /.awe-counting -->
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="awe-counting">
                        <h4>Total Members</h4>
                        <span>154</span>
                    </div><!-- /.awe-counting -->
                </div>
            </div><!-- /.row -->
        </div>

    </div><!-- /.container -->
</section><!-- /section -->

<section >
    <div class="container">
        <div class="padding-top-80">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-header center">
                        <h2 class="medium margin-bottom-40">Meet our team</h2>
                        <p class="medium">Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero. Pellentesque aliquet, sem eget</p>
                    </div><!-- /.section-header -->
                </div>
            </div><!-- /.row -->

            <div class="row">
            	{% for emp in employees %}
            	{% if emp.image_medium %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about-us-team awe-media margin-bottom-50">
                        <div class="awe-media-header">
                            <div class="awe-media-image" >
                                <img  src="data:image/jpg;base64,{{ emp.image|resize_image_230X319 }}" alt="">
                            </div><!-- /.awe-media-image -->
                            <!--<div class="awe-media-hover dark fullpage">
                                <div class="fp-table">
                                    <div class="fp-table-cell center">
                                        <h6 class="upper margin-bottom-20">Connect</h6>
                                        <ul class="list-socials list-large list-light">
            	}
                                            
    <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="icon icon-twitter"></i></a></li>
    <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="icon icon-facebook"></i></a></li>
    <li><a href="#" data-toggle="tooltip" title="Dot-Dot"><i class="icon icon-dot-dot"></i></a></li>
    <li><a href="#" data-toggle="tooltip" title="Google+"><i class="icon icon-google-plus"></i></a></li>
    <li><a href="#" data-toggle="tooltip" title="Pinterest"><i class="icon icon-pinterest"></i></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div> --> <!-- /.awe-media-hover -->
                        </div><!-- /.awe-media-header -->

                        <div class="awe-media-body center">
                            <h3 class="awe-media-title text-upper">
                                <a href="#" title="{{ emp.name_related }}">{{ emp.name_related }}</a>
                            </h3>

                            <p class="awe-media-caption">
                                <span class="bold">{{ emp.job_id.name }}</span>
                            </p>
                        </div><!-- /.awe-media-body -->
                    </div><!-- /.awe-media -->
                </div>
                {% endif %}
                {% endfor %}

            </div><!-- /.row -->

        </div><!-- /.padding-top-80 -->
    </div><!-- /.container -->
</section><!-- /section -->

{% endblock %}
