{% extends "catalog.html" %}
{% load static %}
{% block site_main %}
<div class="main-header background background-image-heading-contact" style="background-image: url({{ banner_url }})!important;" >
    <div class="container">
        <h1>Contact</h1>
    </div>
</div>

<div id="breadcrumb">
	<div class="container">
	    <ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active"><span>Contact</span></li>
		</ol>
	</div>
</div>

<div class="contact-wrapper">
    <div class="margin-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-content">
                        <div class="contact-header">
                            <div class="contact-image">
                                <img src="{% static '/img/samples/banners/contact/banner-contact-1.jpg' %}" alt="">
                            </div>
                            <p>JJuice is based out of Draper. A City tucked against the Wasatch mountains in beautiful Utah.</p>
                        </div><!-- /.contact-header -->

                        <div class="contact-block">
                            <h3>SHOP INFOMATION</h3>

                            <dl class="dl-horizontal">
                                <dt>Address</dt>
                                <dd>12411 South 265 West Ste C,Draper Utah, 84020,USA</dd>

                                <dt>Phone</dt>
                                <dd>801-331-8919</dd>

                                <dt>Email</dt>
                                <dd>hello@vapejjuice.com</dd>
                            </dl>
                        </div><!-- /.contact-block -->

                        <div class="contact-block">
                            <h3>CUSTOMER SERVICE HOURS</h3>

                            <dl class="dl-horizontal">
                                <dt>M-F</dt>
                                <dd>9AM to 6PM MST</dd>
                            </dl>
                        </div><!-- /.contact-block -->
                    </div><!-- /.contact-content -->
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                    <div class="contact-content">
                        <div class="contact-form-heading">
                            <h2>EMAIL US</h2>
                            <p>We strive to respond as fast as possible. Thanks for you patience!</p>
                        </div><!-- /.contact-content -->

                        <div id="ajax-message"></div>

                        <form action="{% url 'misc:contactus' %}" method="POST"  id="contact-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="contact-name">Name</label>
                                <input type="text" name="name" id="contact-name" class="form-control dark" required>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label for="contact-email">Email</label>
                                <input type="email" name="email" id="contact-email" class="form-control dark" required>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label for="contact-website">Website</label>
                                <input type="url" name="website" id="contact-website" class="form-control dark">
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label for="contact-message">Your comment</label>
                                <textarea name="message" id="contact-message" class="form-control dark" rows="7" required></textarea>
                            </div><!-- /.form-group -->

                            <div class="form-button">
                                <button type="submit" class="btn btn-lg btn-dark">Send Message</button>
                            </div><!-- /.form-button -->
                        </form>
                    </div>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.margin-bottom-100 -->

    <div class="contact-map" id="contact-map"  data-lat="40.524533" data-lng="-111.898159">
        <!-- // -->
    </div><!-- /.contact-map -->
</div>
<script>
$(function(){
	aweMaps();
})
</script>

{% endblock %}