{% extends "catalog.html" %}
{% load static %}
{% block site_main %}
<div class="main-header background background-image-heading-product" style="background-image: url() !important;">
    <div class="container">
        <h1>Shipping & Returns Policy</h1>
    </div>
</div>
<div class="container" style="margin-top:40px;">
	<div class = "row border-bottom col-md-10 col-md-offset-1" style="text-align:justify;">
		<h4>JJuice Shipping Policy</h4>
		<ul>
			<li>JJuice LLC is committed to providing the highest quality vaping supplies and equipment. Our goal is to provide kickass customer service.</li>
			<li>JJuice LLC will ship orders within 2 business days of receipt. Orders placed after 12PM MST on a Friday will ship on the following Monday.</li>
			<li><strong>JJuice offers FREE SHIPPING on any order over $100.00</strong></li>
			<li>Shipping charges are determined at the time of the order. JJuice LLC guarantees that there will be no additional charges related to shipping added to the order when released to the carrier. Flat rate of $2.95 for any order under $100.00.</li>
			<li>JJuice LLC uses the US Postal Service as its primary carrier. Shipments will be released to the USPS system daily. Customers will be able to view the status of their shipment by going to http://usps.com and entering the Tracking Number that will be provided in the Shipment Confirmation Email that will be sent to the email address provided at the time of the order.</li>
		</ul>
	</div>
	<div class = "row border-bottom col-md-10 col-md-offset-1" style="text-align:justify;">
		<h4>JJuice Refund Policy</h4>
		<p>In order to start a replacement or refund, request a return merchandise authorization number (RMA) by sending an email to support@vapejjuice.com. Include your name, shipping address, daytime telephone number, and order number. A return email with your RMA number and instructions for return will be sent to the email address you provided. Shipping costs for returning products to JJuice LLC are the responsibility of the buyer. If you have questions, contact James at (909) 767-8551. Refund Policy: If you are dissatisfied with the products you receive, you may request a refund. Within 14 days of your purchase, request a RMA number (listed in the steps above), once receiving the damaged goods at our offices, we will ship a replacement to you within 2-5 business days.</p>
	</div>	
	<div class = "row border-bottom col-md-10 col-md-offset-1" style="text-align:justify;">
		<h4>No Hassle Policy</h4>
		<p>JJuice LLC is committed to providing the highest quality vaping supplies and equipment. With that commitment is our goal of providing superlative customer service. Our no-hassle 14 day replacement or return policy is designed to make your experience with JJuice LLC a great one</p>
	</div>
	<div class = "row border-bottom col-md-10 col-md-offset-1" style="text-align:justify;">
		<h4>Replacement Policy</h4>
		<p>If you receive defective or damaged products, you may request replacements within 14 days of your order. Upon receipt of the damaged or defective goods, we will ship replacements within 48 hours.</p>
	</div>

</div>
{% endblock %}