{% extends "catalog.html" %}
{% load static %}
{% load catalog_filters %}
{% block site_main %}
<div id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
		    <li><a href="/">Home</a></li>
			<li class="active"><span>Cart</span></li>
		</ol>
    </div>
</div>
<div class="cart-page">
	<main class="container">
		<div class="table-responsive">
			<table class="table-bordered table table-cart">
		        <thead>
			        <tr>
			            <th>Product Name</th>
			            <th style="width:10%"></th>
			            <th style="width:10%">Unit</th>
			            <th style="width:10%">QTY</th>
			            <th style="width:10%">Subtotal</th>
			        </tr>
		        </thead>
		        <tbody>
	        	{% for item in cart_items %}
				<tr>
					<td class="cart-product">
						<a href="{{ item.get_product_url }}&back={{ back_url }}" title="{{item.product.get_name}}" class="product-cart">
							<img src="{{item.product.get_image_url}}" alt="" class="product-list-image"/>
							<h3 class="product-title">{{item.product.get_name}}</h3>
						</a>
					</td>
					<td>
						<form method="post" action="." class="cart">
							{% csrf_token %}
							<input type="hidden" name="item_id" value="{{ item.id }}" />
							<input type="hidden" name="action" value="delete" />
							<button type="submit"  class="btn btn-default no-border" value=""><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
						</form>
					</td>
					<td><span class="amount">{{ item.get_price|currency }}</span></td>
					<form method="post" action="." class="cart">
						{% csrf_token %}
						<td><input name = "quantity" type="number" onchange="this.form.submit()" value="{{ item.quantity }}" style="width:70px!important;" class="qty"></td>
						<input type="hidden" name="action" value="update" />
						<input type="hidden" name="item_id" value="{{ item.id }}" />	
					</form>
					<td><span class="amount">{{item.get_total|currency}}</span></td>
				</tr>
				{% empty %}
					<tr>
						<td>Your cart is empty</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				{% endfor %}
		        </tbody>
		        <tfoot>
		          <tr>
		            <td colspan="5">
		              <div class="text-right">
		              	{% if cart_item_count > 0 %}
	              		<form method="post" action="." class="cart">
	              			{% csrf_token %}
	              			<input type="hidden" name="action" value="empty_cart" />
	              			<input type="submit" name="submit" class="btn btn-dark btn-outline" value="Empty Cart" />
		                </form>
		                {% endif %}
		              </div>
		            </td>
		          </tr>
		        </tfoot>		        				
			</table>			
		</div>

		<div class="row">

	        <div class="col-md-offset-8 col-md-4">
	        	<div class="cartbox">
	          		<h2 class="uheading">Shopping Cart Total</h2>
	          		<table class="table-summary-cart">
	            		<tbody>
	            			<tr class="cart-subtotal">
	                			<th>Subtotal</th>
	                			<td><span class="amount">{{ cart_total|currency }}</span></td>
				            </tr>
	            			<tr class="cart-subtotal">
	                			<th>Discount(%) <i data-toggle="tooltip" data-original-title="3+1=4" class="fa fa-question-circle" aria-hidden="true"></i></th>
	                			<td><span class="amount">{{ discount_percentage}}</span></td>
				            </tr>
	              			<tr class="order-total">
	                			<th>GRAND TOTAL</th>
	                			<td><strong><span class="amount">{{net_total|currency}}</span></strong></td>
	              			</tr>
	              			<tr>
								<td colspan="2"><a id = "proceed_to_checkout" href="{% url 'checkout:checkout' %}?back_url={{back_url}}&back_url_name={{back_url_name}}" role="button" class="btn btn-primary"><span>Proceed to checkout</span></a></td>
	              			</tr>
	            		</tbody>
	          		</table>
	        	</div>
	      	</div>

		</div>	
	</main>
</div>
{% endblock %}