{% extends "catalog.html" %}
{% block site_main %}
<section>
    <div class = "container">
        <div class = "policy-wrapper">
            <form class="form-horizontal" action="." id="reset_password">
                <fieldset>
                <!-- Form Name -->
                <input id="token" name="token" type="hidden" value="{{ token }}" required="">
                <!-- Password input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="piNewPass">New Password</label>
                  <div class="col-md-4">
                    <input id="piNewPass" name="piNewPass" type="password" placeholder="" class="form-control input-md" required="">

                  </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="piNewPassRepeat">Confirn New Password</label>
                  <div class="col-md-4">
                    <input id="piNewPassRepeat" name="piNewPassRepeat" type="password" placeholder="" class="form-control input-md" required="">

                  </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group text-left">
                  <div class="col-md-offset-4 col-md-8">
                    <button id="bGodkend" type="submit" name="bGodkend" class="btn btn-success">Reset Password</button>
                  </div>
                </div>

                </fieldset>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function(){
        var form = $("form#reset_password");
        var csrftoken = getCookie('csrftoken');
        form.submit(function(e){
            e.preventDefault();
            form.validate({
                rules:{
                    'piNewPass':{
                        'required':true
                    },
                    'piNewPassRepeat':{
                        'required':true,
                        'equalTo':'#piNewPass'
                    }
                },
                'messages':{
                    'piNewPassRepeat':{
                        'equalTo':'Password Mismatch'
                    }
                }
            })
            if (form.valid()){
                $.ajax({
                        url:'/accounts/forgot_password/',
                        data:form.serialize(),
                        headers:{
                            'X-CSRFToken':csrftoken,
                        },
                        type:'POST',
                        error:function(){
                            toastr.error("We had some trouble updating new password. Please try again")
                        },
                        success:function(dt){
                            if (dt.error){
                                toastr.error(dt.msg)
                            }else{
                                toastr.success("Pasword Updated Successfully")
                            }
                            form.empty();
                            form.append($('\
                                <div class="col-md-offset-3 col-md-6 text-center">\
                                    <div class="alert alert-success ">\
                                        <p>Password updated successfully</p>\
                                    </div>\
                                </div>\
                            '))
                            document.location.href="/";
                        },
                        complete:function(){
                        },
                    })
            }

        });
    });
</script>


{% endblock %}